.msg_history {height: none !important;}


.type_msg {
    border-top: 1px solid #c4c4c4;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    padding-left: 15px;
    background: #fff;
}
.inbox_msg {
    position: relative;
}
.mesgs {
    padding-bottom: 10px;
    padding-top: 25px;
    position: relative;
    top: 45px;
    max-height: 500px;
    height: 100vh;
}

.headind_srch.testing {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}
#taskInfo {
  text-align: center;
   background-color: rgba(0, 0, 0, 0.7);
}
.zero-length {
    
    border: solid 1px #ed502d;
    padding: 5px 0 5px 0px !important;
}
a.mat-menu-trigger{
    float: right;
    background-color: #ed502d;
    color: white;
}
a.mat-menu-trigger :hover{
    float: right;
    background-color: #ed502d;
    color: white;
}

div#taskDel.modal {
    overflow-y: scroll;
}
.top-flex{
    display: flex;
}
.common-b {
    width: 33% !important;
    margin: 0 3px;
    height: 40px;
    border-radius: 0 !important;
    font-size: 15px !important;
}
button.btn.common-b.btn-orange.view-group-cv:hover {
    background: #b83619 !important;
}
button.btn.btn-orange.common-b:hover {
     background: #b83619 !important;
}
.ng-star-inserted p.chat_date {
    text-align: center;
    margin: 6px 0px;
    font-weight: 500;
    font-size: 15px;
    color: #F44336;
}
.sent_msg p {
    word-break: break-all;
}
.type_msg{
    padding-left: 0;
}
.work-block textarea {
    border: 1px solid transparent;
    border-radius: 5px;
}
.msg_send_btn {
    top: auto;
    bottom: 5px;
    right: 5px;
}
.mesgs{
    height: auto;
    padding-bottom: 100px;
}

/*@media (max-width: 767px){

}

@media (max-width: 991px){
    .inbox_people {
        width: 100%;
    }
    .mesgs {
        width: 100%;
         padding-bottom: 200px;
    }
    .received_withd_msg {
        width: 100%;
    }
    .sent_msg {
        width: 100%;
    }
    .inbox_chat {
        height: auto;
    }
    .type_msg{
        width: 100%;
    }
    .work-block textarea {
        height: 90px;
    }
    .headind_srch.testing{
        top: 208px;
        width: 100%;
    }
    .recent_heading h4 {
        font-size: 17px;
    }
}*/

@media (min-width: 576px){
    .modal-dialog.modaldialog12 {
        max-width: 650px !important;
        min-width: 650px;
    }
}
