<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    :) Oops!</h1>
                <h2>
                    Temporarily down for maintenance</h2>
                <h1>
                    We’ll be back soon!</h1>
                <div>
                    <p>
                       The server is unable to handle your request due to a temporary overload or scheduled maintenance.</p>
                    <p>
                        — The ColivingTeam</p>
                </div>
              <!--   <div class="error-actions">
                    <a href="javascript:void(0);" style="margin-top: 10px;" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home">
                    </span>Execution timeload
                    <countdown #cd [config]="{leftTime: 30}" (event)="handleEvent($event)"></countdown>
                    </a>
                </div> -->
            </div>
        </div>