	<section class="login-block cus-forgot">
		<div class="block-inner">
			<div class="container">
				<div class="row">
					<div class="col-md-9 m-auto">
						<div class="row">
							<div class="col-md-12 col-lg-5 left-side">
								<div class="left-inner">
									<a class="for-login-logo" routerLink="/">
										<img src="assets/images/Logo-colive.png" />
									</a>
									<!-- <p class="des">Login using social media to get quick access</p> -->
									
									<div class="row social-buttons">
									</div>
									
								</div>
							</div>
							<div class="col-md-12 col-lg-7 right-side">
								<ul class="for-login-tabs">
									<li>
										<a class="active" routerLink="/login">RESET  PASSWORD</a>
									</li>
									
								</ul>

								<div class="form-content">
									<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
										<div class="form-group form-parts">
											<input minlength="8" type="password" placeholder="Password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
											
											<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
												<span class="for-sub-name" *ngIf="f.password.errors.required"> Password is required.</span>
											</div> 
											<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
												<span class="for-sub-name" *ngIf="f.password.errors.minlength">Your password must be at least 8 characters.</span>
											</div>
										</div>
											<div class="form-group form-parts">
											<input minlength="8" type="password"  placeholder="Confirm Password" class="form-control" formControlName="confPassword" [ngClass]="{ 'is-invalid': submitted && f.confPassword.errors }">

											<div *ngIf="submitted && f.confPassword.errors" class="invalid-feedback">
												<span class="for-sub-name" *ngIf="f.confPassword.errors.required">Confirm password is required.</span>
											</div> 

											<div *ngIf="submitted && f.confPassword.errors" class="invalid-feedback">
												<span class="for-sub-name" *ngIf="f.confPassword.errors.minlength">Your password must be at least 8 characters.</span>
											</div> 
											<div *ngIf="isError == true" >
												<span class="for-sub-name">{{errorsArr?.password2}}</span>
											</div>
										</div>
									
										<div class="form-group">
											<div class="row">
											
											</div>
										</div>
										<div class="row">
											<button type="submit" class="btn btn-orange">Submit</button>
										
										</div>
									</form>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	