<div class="header2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="logo-link" routerLink="/">
                    <img src="assets/images/Logo-colive.png">
                </a>
            </div>
        </div>
    </div>
</div>


<section class="leave-message">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hdg-box">
                    <h1 class="hdg-main">FREQUENTLY ASKED QUESTIONS</h1>
                </div>
            </div>
        </div>
                                <div class="faq-section-m">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span>+</span></button>
                                            <p>1.Q: How much does Ember charge for crowdfunding and investing</p>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            A: 0%. Ember Launchpad do not charge fees for any of the crowdfunding projects or investments. However, 5% of the total amount raised will be paid towards content creators and influencers that can help to promote your campaign. Ember do charge a fee of 20% for digital distribution.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span>+</span></button>
                                            <p>2. Q: What happened if I did not raise enough to successfully crowdfund the project?</p>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            A: All the money will be refunded back to the supports.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span>+</span></button>
                                            <p>3. Q: Can someone support the project and invest at the same time?</p>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            A: Yes by all means.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingfour">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour"><span>+</span></button>
                                            <p>4. Q: What are the criteria for me to start a crowdfunding campaign?</p>
                                        </h2>
                                    </div>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                                        <div class="card-body">
                                            A: We evaluate the projects submitted by a few elements such as ability to work under a budget and timeline, experience and track record of the development team, creativity, as well as potential market of the game. 
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingfive">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive"><span>+</span></button>
                                            <p>5. Q: I already have a working demo and playable product, can I still start an investment campaign?</p>
                                        </h2>
                                    </div>
                                    <div id="collapsefive" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
                                        <div class="card-body">
                                            A: Yes but on a per case basis. We will have to evaluate the elements mentioned above.
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-header" id="headingSix">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"><span>+</span></button>
                                            <p>6. Q: Am I obligated to publish the game on Ember?</p>
                                        </h2>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
                                        <div class="card-body">
                                            A: No, developers can feel free to publish the project anywhere you like, however publishing the game on our platform is strongly encouraged as it is our only source of income. You also get to enjoy benefits such as higher revenue split. If you would like to publish in China, Ember do provide services on publishing and licensing as well. You may contact us to find out more.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingSeven">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"><span>+</span></button>
                                            <p>7.Q: Is there any restriction towards the platform of the game? Eg mobile or console games</p>
                                        </h2>
                                    </div>
                                    <div id="collapseSeven" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
                                        <div class="card-body">
                                            A: No, however Ember will not be able to subsidise the 8% revenue split towards investors from any platform other than PC.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingEight">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"><span>+</span></button>
                                            <p>8.Q: What are the materials I need to submit?</p>
                                        </h2>
                                    </div>
                                    <div id="collapseEight" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
                                        <div class="card-body">
                                            A: The development team have to be registered companies, providing us the Company information such as Company name, company registration number, shareholder information, along with shareholder’s particulars such as name, identification, residential address etc. Experience and tract record of the team will be very important when it comes to our evaluation as well. Regarding the projects, please provide as much information as possible, such as concept arts, design materials, world setting and concepts etc. Developers are strongly encouraged to prepare a trailer too.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingNine">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine"><span>+</span></button>
                                            <p>9.Q: Who owns the IP?</p>
                                        </h2>
                                    </div>
                                    <div id="collapseNine" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
                                        <div class="card-body">
                                            A: Developers will have full IP control.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTen">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen"><span>+</span></button>
                                            <p>10.Q: What are things considered as my game’s revenue?</p>
                                        </h2>
                                    </div>
                                    <div id="collapseTen" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
                                        <div class="card-body">
                                            A: This includes game sales, micro transactions, Downloadable contents, subscriptions ( battle pass etc).  

                                            About us
                                            Ember is an AI driven digital distribution platform based in Singapore. We bring quality, immersive games to the gaming community by empowering independent Asian studios in the development and bring them to the global market.

                                            From crowdfunding to campaign optimization, we enable studios to launch games successfully by making it not only more cost efficient, but also simpler.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
</section>


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="parts-inner">
                    <h1 class="hdg-small">About Colive</h1>
                    <div class="footer-detail">
                        <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="parts-inner">
                    <h1 class="hdg-small">Support</h1>
                    <div class="footer-detail">
                        <ul class="footer-list">
                            <li><a href="javascript:void(0)">About</a></li>
                            <li><a routerLink="/contact-us">Contact</a></li>
                            <li><a href="javascript:void(0)">Event</a></li>
                            <li><a href="javascript:void(0)">Investments</a></li>
                            <li><a href="javascript:void(0)">Job</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="parts-inner">
                    <h1 class="hdg-small">Quick Links</h1>
                    <div class="footer-detail">
                        <ul class="footer-list">
                            <li><a href="javascript:void(0)">What is colive?</a></li>
                            <li><a routerLink="/contact-us">Contact</a></li>
                            <li><a href="javascript:void(0)">Event</a></li>
                            <li><a href="javascript:void(0)">Investments</a></li>
                            <li><a href="javascript:void(0)">Job</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="parts-inner">
                    <h1 class="hdg-small">Contact us</h1>
                    <div class="footer-detail">
                        <p>Macrew Street West,<br /> National park,<br /> India <br /> +1 246-345-0695</p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</footer>

<section class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Copyright 2019 . All Rights Reserved</p>					
            </div>
        </div>
    </div>
</section>
