<div class="header2">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <a class="logo-link" routerLink="/">
            <img src="assets/images/Logo-colive.png">
            </a>
         </div>
      </div>
   </div>
</div>
<section class="banner-top">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="hdg-bnr">
               <h1>
                  FREQUENTLY ASKED QUESTIONS
                  <!-- <span>us</span> -->
               </h1>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="leave-message">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="hdg-box">
               <h1 class="hdg-main">FREQUENTLY ASKED QUESTIONS</h1>
            </div>
         </div>
      </div>
      <div class="faq-section-m">
         <div class="accordion" id="accordionExample">
            <div class="card">
               <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                     <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span>+</span></button>
                     <p>1: Groups – a place where you can check the info of the groups you belong to</p>
                  </h2>
               </div>
               <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                    <li>
                       1) Create a group of your colivers so flatmates or friends who you share an apartment with. You can do it in Create a group.
                    </li> 
                    <li>
                       2) Join the already existing group. You can do it when other coliver (user) made the group already and he or she is likely to share with you the link which is provided inside the group.
                   </li>
                    <li>
                        3) Check the info about your flatmates and get to know them even better with having access to their info related to sharing the same apartment. You can upload info about you in profile.
                    </li>
                    <li>
                       4) If you are looking for a flatmate, just share the link located in groups to any facebook group, WhatsApp or wherever you wish and check the candidates who are interested in your offer. A person who clicked the link is going to be redirected to the questionnaire. Go to the applications to check filled up forms.
                   </li>
                    <li>
                       5) Check the candidates’ applications to the group and screen who would you like to share an apartment with. 
                    </li>
                    <li>
                        6) Problems with a flat or flatmates? You can issue a problem to the landlord directly.
                    </li>
                    <li>
                        7) Chatroom: use our messenger to communicate on apartment stuff with your flatmates and/or with the 
                         landlord.
                    </li> 
                    <li>
                        8) Share group’s CV allows you to send the relevant information about your group to the current or future landlord. Sometimes landlords require the info about tenants before signing the contract. You can generate your group’s PDF with the info.
                    </li>
                    </ul>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                     <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span>+</span></button>
                     <p>2: House chores – set up your apartment’s house chores</p>
                  </h2>
               </div>
               <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                        <li>
                            1) By having access to the calendar, you can be up-to-date with your scheduled house chores.
                       </li>
                       <li>
                            2) Check the tasks you are associated with.
                        </li>
                        <li>
                           3) Screen all the tasks which have been associated with your group (at your apartment). 
                        </li>
                    </ul>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                     <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span>+</span></button>
                     <p>3: House expenses – manage your apartment’s expenses.</p>
                  </h2>
               </div>
               <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                     <ul>
                        <li>
                            1) Add bills and all the expenses you have had between your flatmates or friends and let the app count all of them for you. You will have a summary of all the bills in one place.
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header" id="headingfour">
                  <h2 class="mb-0">
                     <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour"><span>+</span></button>
                     <p>4: Profile</p>
                  </h2>
               </div>
               <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                  <div class="card-body">
                      <ul>
                         <li>
                            1) Update your info and let your flatmates know you before you met each other personally.

                         </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<footer class="footer">
   <div class="container">
      <div class="row">
         <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
            <div class="parts-inner">
               <h1 class="hdg-small">About Colive</h1>
               <div class="footer-detail">
                  <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                  </p>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
            <div class="parts-inner">
               <h1 class="hdg-small">Support</h1>
               <div class="footer-detail">
                  <ul class="footer-list">
                     <li><a href="javascript:void(0)">About</a></li>
                     <li><a routerLink="/contact-us">Contact</a></li>
                     <li><a href="javascript:void(0)">Event</a></li>
                     <li><a href="javascript:void(0)">Investments</a></li>
                     <li><a routerLink="/faq">FAQ</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
            <div class="parts-inner">
               <h1 class="hdg-small">Quick Links</h1>
               <div class="footer-detail">
                  <ul class="footer-list">
                     <li><a href="javascript:void(0)">What is colive?</a></li>
                     <li><a routerLink="/contact-us">Contact</a></li>
                     <li><a href="javascript:void(0)">Event</a></li>
                     <li><a href="javascript:void(0)">Investments</a></li>
                     <li><a routerLink="/faq">FAQ</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
            <div class="parts-inner">
               <h1 class="hdg-small">Contact us</h1>
               <div class="footer-detail">
                  <p>Macrew Street West,<br /> National park,<br /> India <br /> +1 246-345-0695</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<section class="bottom-footer">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <p>Copyright 2019 . All Rights Reserved</p>
         </div>
      </div>
   </div>
</section>