   <div class="header-section">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand"  routerLink="/">
                 <img src="assets/images/Logo-colive.png">
            </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa fa-bars" aria-hidden="true"></i></span>
              </button>

<!--            <div id="menu-center">
                <ul class="navbar-nav">
                  <li class="nav-item for-dot"><a class="nav-link mt-2" href="#about-us">What is colive?</a></li>
                  <li class="nav-item for-dot"><a class="nav-link mt-2" href="#property">Properties</a></li>
                  <li class="nav-item for-dot"><a class="nav-link mt-2" href="#host">Become a Host</a></li>
                  <li class="nav-item for-dot"><a class="nav-link mt-2" href="#team">Make a team</a></li>
                  <li class="nav-item for-dot"><a class="nav-link mt-2" href="#testimonial">Testimonial</a></li>

                  <li class="nav-item pr-2 pl-2"><a class="btn signin" href="login.html">Log in</a></li>
                  <li class="nav-item pr-2 pl-2"><a class="btn signup" href="sign-up.html">Sign Up</a></li>
                </ul>
            </div> -->

            <div class="top-nav">
                <div class="collapse navbar-collapse" id="navbarNav">
                
                <ul class="navbar-nav">
                    <li class="nav-item pr-2 pl-2">
                        <a class="btn signup" download href="javascript:void();" id="download-app">Download the App</a>
                    </li>
                    <li class="nav-item pr-2 pl-2" *ngIf="this.session_key != true">
                        <a class="btn signup" routerLink="/login">Login Landlord</a></li>
                    <li class="nav-item pr-2 pl-2" *ngIf="this.session_key == true"><a class="btn signin" routerLink="/dashboard">Dashboard</a></li>
                    <li class="nav-item pr-2 pl-2">
                        <a class="btn signin" routerLink="/faq" id="">FAQ</a>
                    </li>
                    <li class="nav-item pr-2 pl-2">
                        <a class="btn signin" routerLink="/privacy-policy">Privacy Policies</a>
                    </li>
                    <li class="nav-item pr-2 pl-2">
                        <a class="btn signin" href="#contact-us" id="">Contact us</a>
                    </li>
                    
                    
                
                </ul>
                <div class="country-flag">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/images/english.png" /> EN
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><img src="assets/images/english.png" /> EN</a>
                            <!-- <a class="dropdown-item" href="#"><img src="assets/images/fr.png" /> FR</a>
                            <a class="dropdown-item" href="#"><img src="assets/images/italian.png" /> IT</a>
                            <a class="dropdown-item" href="#"><img src="assets/images/spanish.png" /> SP</a> -->
                            <a class="dropdown-item" href="#"><img src="assets/images/german.png" /> GR</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </nav>
      </div>
<!-- <div class="header2">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <a class="logo-link" routerLink="/">
            <img src="assets/images/Logo-colive.png">
            </a>
         </div>
      </div>
   </div>
</div> -->
<section class="banner-top">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="hdg-bnr">
               <h1 style="padding-top: 150px;">
                  FREQUENTLY ASKED QUESTIONS
                
               </h1>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="leave-message">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="hdg-box">
               <h1 class="hdg-main">FREQUENTLY ASKED QUESTIONS</h1>
            </div>
         </div>
      </div>
      <div class="faq-section-m">
         <div class="accordion" id="accordionExample">
            <div class="card">
               <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                     <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span>+</span></button>
                     <p>1: Groups – a place where you can check the info of the groups you belong to</p>
                  </h2>
               </div>
               <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                    <li>
                       1) Create a group of your colivers so flatmates or friends who you share an apartment with. You can do it in Create a group.
                    </li> 
                    <li>
                       2) Join the already existing group. You can do it when other coliver (user) made the group already and he or she is likely to share with you the link which is provided inside the group.
                   </li>
                    <li>
                        3) Check the info about your flatmates and get to know them even better with having access to their info related to sharing the same apartment. You can upload info about you in profile.
                    </li>
                    <li>
                       4) If you are looking for a flatmate, just share the link located in groups to any facebook group, WhatsApp or wherever you wish and check the candidates who are interested in your offer. A person who clicked the link is going to be redirected to the questionnaire. Go to the applications to check filled up forms.
                   </li>
                    <li>
                       5) Check the candidates’ applications to the group and screen who would you like to share an apartment with. 
                    </li>
                    <li>
                        6) Problems with a flat or flatmates? You can issue a problem to the landlord directly.
                    </li>
                    <li>
                        7) Chatroom: use our messenger to communicate on apartment stuff with your flatmates and/or with the 
                         landlord.
                    </li> 
                    <li>
                        8) Share group’s CV allows you to send the relevant information about your group to the current or future landlord. Sometimes landlords require the info about tenants before signing the contract. You can generate your group’s PDF with the info.
                    </li>
                    </ul>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                     <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span>+</span></button>
                     <p>2: House chores – set up your apartment’s house chores</p>
                  </h2>
               </div>
               <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                        <li>
                            1) By having access to the calendar, you can be up-to-date with your scheduled house chores.
                       </li>
                       <li>
                            2) Check the tasks you are associated with.
                        </li>
                        <li>
                           3) Screen all the tasks which have been associated with your group (at your apartment). 
                        </li>
                    </ul>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                     <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span>+</span></button>
                     <p>3: House expenses – manage your apartment’s expenses.</p>
                  </h2>
               </div>
               <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                     <ul>
                        <li>
                            1) Add bills and all the expenses you have had between your flatmates or friends and let the app count all of them for you. You will have a summary of all the bills in one place.
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header" id="headingfour">
                  <h2 class="mb-0">
                     <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour"><span>+</span></button>
                     <p>4: Profile</p>
                  </h2>
               </div>
               <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                  <div class="card-body">
                      <ul>
                         <li>
                            1) Update your info and let your flatmates know you before you met each other personally.

                         </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="uper-footer">
            <div class="row">
                    <div class="footer-contect-heading">
              <h3 class="hdg-main">Contact us</h3>
            </div>
            <div class="main-footer-new">
              <div class="footer-card">
          <ul class="footer-social-icon">
            <li>
              <a class="social-icon-link" href=""><img src="assets/images/logo/fb.png"></a>
            </li>
            <li>
              <a class="social-icon-link" href=""><img src="assets/images/logo/goog.png"></a>
            </li>
            <li>
              <a class="social-icon-link" href=""><img src="assets/images/logo/in.png"></a>
            </li>
            <li>
              <a class="social-icon-link" href=""><img src="assets/images/logo/insta.png"></a>
            </li>
            <li>
              <a class="social-icon-link" href=""><img src="assets/images/logo/tweet.png"></a>
            </li>
          </ul>
              </div>
              <div class="footer-card">
                <p><a href="#">demo@gmail.com</a></p>
              </div>
              <div class="footer-card">
                <p>The Coliving App Team</p>
                <p>161D Tower Road, Sliema SLM1603, Malta</p>
              </div>
            </div>
                
                
            </div>
        </div>
    </div>
</footer>
<section class="bottom-footer">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <p>Copyright {{currentYear}} . All Rights Reserved</p>
         </div>
      </div>
   </div>
</section>