<section class="wrapper work-panel">
   <app-header></app-header>
   <app-sidebar></app-sidebar>
   <div class="work-block">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <ul class="breadcrumb custom-breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">FAQ'S</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <button class="pull-right btn btn-orange-sm" (click)="openAddCategoryModal();"><i class="fa fa-plus"></i>Add FAQ</button>
            </div>
            <div class="col-12">
               <div class="card mb-5">
                  <div class="card-header">FAQ's Listing</div>
                  <div class="card-body pb-0">
                     <div class="row">

                       <table class="table table-striped">
                        <thead>
                           <tr>
                              <th scope="col">#</th>
                              <th scope="col">Question</th>
                              <th scope="col">Description</th>
                              <th scope="col">Status</th>
                              
                              <th scope="col">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let faq of allFaqArray|paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                              <th scope="row">{{ i+1}}</th>
                              <td>{{ faq?.question }}</td>
                              <td [innerHTML]="faq.description | safeHtml"></td>
                              <td *ngIf="faq.status=='1'" class="text-success">Active</td>
                              <td *ngIf="faq.status=='0'" class="text-danger">In-active</td>
                              <td> 
                               <a  class="btn btn-orange-sm" href="javascript:void(0);" (click)="editFaqModal(faq)"><i title="QuickEdit" class="fa fa-pencil" aria-hidden="true"></i></a> | 
                               <a  class="btn btn-orange-sm" href="javascript:void(0);" (click)="deleteFaqModal(faq)"><i title="Delete" class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                      <div *ngIf="faqCount =='0'">
                        <p>No Content Available for  page.</p>
                     </div>
                     <div *ngIf="isArrayLength">
                        <pagination-controls (pageChange)="p= $event"></pagination-controls>
                     </div>

                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
</section>
<!----------- ADD FAQ MODEL START ---------------->
<div class="container">
   <!-- The Modal -->
   <div class="modal faqmodal"  style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="isopenAddFaqModal ? 'block' : 'none'" *ngIf="isopenAddFaqModal">
      <div class="modal-dialog">
         <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
               <h4 class="modal-title">Add FAQ</h4>
               <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
               <form [formGroup]="faqForm" (ngSubmit)="addFaq(faqForm.value)" >   
                  <div class="form-group">
                     <label>Question:</label>
                     <input type="text" formControlName="question" class="form-control" [ngClass]="{'is-invalid': submitted && f.question.errors}" />
                     <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
                        <span class="for-sub-name" *ngIf="f.question.errors.required">Question is required.</span>
                     </div>
                     <div *ngIf="isalreadyEixst" class="default-error-message"> {{isalreadyEixstErr}}
                     </div>
                  </div>

                  <ckeditor [editor]="Editor" formControlName="description" data="<p>Hello, world!</p>" [ngClass]="{'is-invalid': submitted && f.description.errors}" ></ckeditor>
                  <div *ngIf="descriptionEmpty"  class="for-sub-name default-error-message">Description is required.
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
                     <button type="submit" class="btn btn-orange-sm">Yes, Add FAQ</button>
                  </div>
               </form> 
            </div>
         </div>
      </div>
   </div>
</div> 
<!----------- ADD FAQ MODEL END ---------------->

<!----------- EDIT FAQ MODEL START ---------------->
<div class="container">
   <!-- The Modal -->
   <div class="modal faqmodal" style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="isopenEditFaqModal ? 'block' : 'none'" *ngIf="isopenEditFaqModal">
      <div class="modal-dialog">
         <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
               <h4 class="modal-title">Edit FAQ</h4>
               <button type="button" class="close" data-dismiss="modal" (click)="closeEditModal()">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <form [formGroup]="updateFaqForm" (ngSubmit)="updateFaq(updateFaqForm.value)" >   
               <div class="form-group">
                  <label>Question:</label>
                  <input type="text" formControlName="question" class="form-control" [ngClass]="{'is-invalid': submitted && g.question.errors}" />
                  <div *ngIf="submitted && g.question.errors" class="invalid-feedback">
                     <span class="for-sub-name" *ngIf="g.question.errors.required">Question is required.</span>
                  </div>
                  <div *ngIf="isalreadyEixst" class="default-error-message"> {{isalreadyEixstErr}}
                  </div>
               </div>
               
               <ckeditor [editor]="Editor" formControlName="description" data="<p>Hello, world!</p>" [ngClass]="{'is-invalid': submitted && g.description.errors}" ></ckeditor>
               <div *ngIf="descriptionEmpty"  class="for-sub-name default-error-message">Description is required.
               </div>
                <div class="form-group">
                  <label for="team">Status<span class="validate-red">*</span></label>
                  <select class="custom-select form-control" formControlName="status" id="status" [ngClass]="{ 'is-invalid': submitted && g.status.errors }">
                     <option value="" disabled>Please select one option</option>
                     <option value="1">Active</option>
                     <option value="0">Inactive</option>
                  </select>
                  <div *ngIf="submitted && g.status.errors.required" class="invalid-feedback">
                     <span class="for-sub-name" *ngIf="g.status.errors.required">Status field is required.</span>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" (click)="closeEditModal()">Cancel</button>
                  <button type="submit" class="btn btn-orange-sm">Yes, Add FAQ</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
</div> 
<!----------- EDIT FAQ MODEL END ---------------->

<!---  Modal to delete TASK  -->
<div class="container">
   <!-- The Modal -->
   <div class="modal" id="taskDel" [style.display]="isDelFaq ? 'block' : 'none'" *ngIf="isDelFaq" >
   <div class="modal-dialog modaldialog12">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Faq deletion</h4>
            <button type="button" class="close" aria-describedby="modal-title">
            <span aria-hidden="true" (click)="closeDelModal()">&times;</span>
            </button>
         </div>
         <!-- Modal body -->
         <div class="modal-body">
            <p><strong>Are you sure you want to delete <span class="text-primary"></span> faq?</strong></p>
            <p>All information associated to this category will be permanently deleted.
               <span class="text-danger">This operation can not be undone.</span>
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="closeDelModal()">Cancel</button>
            <button type="button" class="btn btn-orange-sm" (click)="deleteFaq(faqId)">Yes,Delete It</button>
         </div>
      </div>
   </div>
</div>
</div>