
<div class="header2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="logo-link" routerLink="/">
                    <img src="assets/images/Logo-colive.png">
                </a>
            </div>
        </div>
    </div>
</div>

<section class="banner-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hdg-bnr">
                    <h1>
                        contact
                        <span>us</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="leave-message">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hdg-box">
                    <h1 class="hdg-main">LEAVE US A MESSAGE</h1>
                    <p class="sb-hdg">Lorem Ipsum is simply dummy text of the printing</p>
                </div>
            </div>
        </div>
        
        <form [formGroup]="contactUsForm" (ngSubmit)="contactUs(contactUsForm.value)">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="form-group form-parts">
                        <input type="text" formControlName="name" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" autocomplete="off" class="form-control" autocomplete="off">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                           <span class="for-sub-name" *ngIf="f.name.errors.required">Name is required.</span>
                       </div>
                    </div>
                    
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-group form-parts">
                        <input type="email" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="off">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                              <span class="for-sub-name" *ngIf="f.email.errors.required">Email is required.</span>
                              <span class="for-sub-name" *ngIf="f.email.errors.email">Email must be a valid</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-group form-parts">
                        <input type="text" formControlName="subject" placeholder="Subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" class="form-control" autocomplete="off">
                          <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                             <span class="for-sub-name" *ngIf="f.subject.errors.required">Subject is required.</span>
                       </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-12">
                    <div class="form-group form-parts">
                        <textarea placeholder="Write your message here..." class="form-control" rows="10" formControlName="message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                            <span class="for-sub-name" *ngIf="f.message.errors.required">Message is required.</span>
                        </div>
                    </div>
                  </div>
                
                <div class="col-12 col-sm-12">
                    <div class="submit-outer">
                        <button type="submit" class="btn btn-orange">submit</button>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</section>

<section class="address">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 blks">
                <i class="fas fa-map-marker-alt"></i>
                <h2 class="name">address</h2>
                <p class="dtl">25 Street , Coila Road , USA</p>
            </div>
            
            <div class="col-12 col-sm-4 blks">
                <i class="fas fa-phone"></i>
                <h2 class="name">phone</h2>
                <p class="dtl">123-456-7890</p>
            </div>
            
            <div class="col-12 col-sm-4 blks">
                <i class="fas fa-envelope"></i>
                <h2 class="name">email</h2>
                <p class="dtl">abc@test.com</p>
            </div>
        </div>
    </div>
</section>

<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13719.679330087241!2d76.84325505!3d30.72065405!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1493982082334" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="parts-inner">
                    <h1 class="hdg-small">About Colive</h1>
                    <div class="footer-detail">
                        <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="parts-inner">
                    <h1 class="hdg-small">Support</h1>
                    <div class="footer-detail">
                        <ul class="footer-list">
                            <li><a href="javascript:void(0)">About</a></li>
                            <li><a routerLink="/contact-us">Contact</a></li>
                            <li><a href="javascript:void(0)">Event</a></li>
                            <li><a href="javascript:void(0)">Investments</a></li>
                            <li><a href="javascript:void(0)">Job</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="parts-inner">
                    <h1 class="hdg-small">Quick Links</h1>
                    <div class="footer-detail">
                        <ul class="footer-list">
                            <li><a href="javascript:void(0)">What is colive?</a></li>
                            <li><a routerLink="/contact-us">Contact</a></li>
                            <li><a href="javascript:void(0)">Event</a></li>
                            <li><a href="javascript:void(0)">Investments</a></li>
                            <li><a href="javascript:void(0)">Job</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="parts-inner">
                    <h1 class="hdg-small">Contact us</h1>
                    <div class="footer-detail">
                        <p>Macrew Street West,<br /> National park,<br /> India <br /> +1 246-345-0695</p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</footer>

<section class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Copyright 2019 . All Rights Reserved</p>					
            </div>
        </div>
    </div>
</section>


