<section class="wrapper work-panel">
   <app-header></app-header>
   <app-sidebar></app-sidebar>
   <div class="work-block">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <ul class="breadcrumb custom-breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">My Account</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="card mb-3">
                  <div class="card-header">My Account</div>
                  <div class="card-body">
                     <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile(updateProfileForm.value)">
                     
                     <div class="row">
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">First name<span class="validate-red">*</span></label>
                              <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
                              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.firstName.errors.required">First name is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Last name<span class="validate-red">*</span></label>
                              <input type="text"  class="form-control" placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.lastName.errors.required">Last name is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Email<span class="validate-red">*</span></label>
                              <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.email.errors.required">Email is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Username<span class="validate-red">*</span></label>
                              <input type="email" id="text" class="form-control" placeholder="Username" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                              <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.userName.errors.required">Username is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Date of birth<span class="validate-red">*</span></label>
                              <input type="text" placeholder="Date of Birth"
                              class="form-control"
                              #dp="bsDatepicker"
                              bsDatepicker formControlName="dob"  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" >
                              <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.dob.errors.required">Date of birth is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Gender<span class="validate-red">*</span></label>
                              <select class="custom-select form-control" formControlName="gender" id="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                 <option value="" disabled>Please select one option</option>
                                 <option value="Male">Male</option>
                                 <option value="Female">Female</option>
                                 <option value="Other">Other</option>
                                 <option value="notshare">I would rather not share</option>
                                 
                              </select>
                              <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.gender.errors.required">Gender field is required.</span>
                              </div>
                           </div>
                        </div>
                       
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Phone number<span class="validate-red">*</span></label>
                              <international-phone-number placeholder="Enter phone number" [maxlength]="20" [defaultCountry]="this.current_country" [required]="true" formControlName="phoneNo" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }"></international-phone-number>
                              <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.phoneNo.errors.required">Phone number is required.</span>
                              </div>
                              <div *ngIf="this.messageDigit">
                                 <span class="customPhoneMessage">{{this.messageDigit}}</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Address<span class="validate-red">*</span></label>
                              <input ngx-google-places-autocomplete type="text" class="form-control" placeholder="Address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" >
                              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.address.errors.required">Address is required.</span>
                              </div>
                           </div>
                        </div>
                       
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Postal code<span class="validate-red">*</span></label>
                              <input type="text"  class="form-control" placeholder="Postal Code" formControlName="postalCode" [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" (keypress)="keyPress1($event)">
                              <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.postalCode.errors.required">Postal code is required.</span>
                              </div>
                              <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.postalCode.errors.maxlength">Postal code must be atmost 6 characters.</span>
                              </div>
                              <div *ngIf="this.messageDigit1">
                                 <span class="customPhoneMessage">{{this.messageDigit1}}</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Country<span class="validate-red">*</span></label>
                              <select class="custom-select form-control" formControlName="country" id="country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                 <option value="" disabled>Please select one option</option>
                                 <option *ngFor="let country of allCountries" value="{{country?.id}}">
                                    {{country?.name}} 
                              </select>
                              <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.country.errors.required">Country field is required.</span>
                              </div>
                           </div>
                        </div>
                       
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Social media account</label>
                              <input type="text" class="form-control" placeholder="Ex. Facebook, Instagram etc.." formControlName="social_account">
                             
                           </div>
                        </div>
                      
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="bill">Upload image</label>
                              <input type="file" class="form-control-file border" accept="image/*" formControlName="image"  (change)="onSelectFile($event)">
                              <img *ngIf="boolUserImage==true" class="pull-right" [src]="image_url" height="50" width="50" onError="this.src='assets/images/user.png';"  alt="user" > 
                              <img [src]="url" height="200" *ngIf="boolUrl==true">

                              <br/>

                           </div>
                        </div>


                     <!--    <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="bill">Upload document<span class="validate-red">*</span></label>
                              <input type="file" multiple class="form-control-file border"  formControlName="document" (change)="onSelectdocument($event)">
                           
                              <br/>

                           </div>
                        </div>
 -->

                       
                        <input type="hidden" formControlName="file">
                        <div class="col-12 col-sm-12 text-center">
                           <button type="submit" class="btn btn-orange-sm my-btn-sube" style="padding: 15px 30px;">Submit</button>
                        </div>
                     </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>