<section class="wrapper work-panel">
   <app-header></app-header>
   <app-sidebar></app-sidebar>
   <div class="work-block">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <ul class="breadcrumb custom-breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">My Account</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="card mb-3">
                  <div class="card-header">My Account</div>
                  <div class="card-body">
                     <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile(updateProfileForm.value)">
                     
                     <div class="row">
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">First name<span class="validate-red">*</span></label>
                              <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
                              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.firstName.errors.required">First name is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Last name<span class="validate-red">*</span></label>
                              <input type="text"  class="form-control" placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.lastName.errors.required">Last name is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Email</label>
                              <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" readonly="readonly">
                              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.email.errors.required">Email is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Username</label>
                              <input type="email" id="text" class="form-control" placeholder="Username" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" readonly="readonly">
                              <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.userName.errors.required">Username is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Date of birth<span class="validate-red">*</span></label>
                              <input type="text" placeholder="Date of Birth"
                              class="form-control"
                              #dp="bsDatepicker"
                              bsDatepicker formControlName="dob"  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" >
                              <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.dob.errors.required">Date of birth is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Occupation/Timetable<span class="validate-red">*</span></label>
                              <select class="custom-select form-control" formControlName="occuptation_tt" id="occuptation_tt" [ngClass]="{ 'is-invalid': submitted && f.occuptation_tt.errors }">
                                 <option value="" disabled>Please select one option</option>
                                 <option value="1">Full time employee</option>
                                 <option value="2">Part time employee</option>
                                 <option value="3">Part time/Full time student</option>
                                 <option value="4">Part time/Full time internship</option>
                              </select>
                              <div *ngIf="submitted && f.occuptation_tt.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.occuptation_tt.errors.required">Occupation is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">What would be your typical get up time during the week days<span class="validate-red">*</span></label>
                              <ngb-timepicker [(ngModel)]="time" formControlName="wakeup_time"></ngb-timepicker>
                              <div *ngIf="submitted && f.wakeup_time.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.wakeup_time.errors.required">WakeUp Time is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Weekend wake up time.<span class="validate-red">*</span></label>
                              <ngb-timepicker [(ngModel)]="weekend_wakeup_time" formControlName="weekend_wakeup_time"></ngb-timepicker>
                              <div *ngIf="submitted && f.weekend_wakeup_time.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.weekend_wakeup_time.errors.required">Weekend wake-up time is required.</span>
                              </div>
                           </div>
                        </div>
                        <hr>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Day of moving in/out<span class="validate-red">*</span></label>
                              <input type="text" placeholder="Day of moving in/out"
                              class="form-control"
                              #dp="bsDatepicker"
                              bsDatepicker formControlName="outing_day"  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" [minDate]="today">
                              <div *ngIf="submitted && f.outing_day.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.outing_day.errors.required">Day of moving in/out is required.</span>
                              </div>
                           </div>
                        </div>
                        <hr>
                        <div class="col-12 col-sm-12">
                           <div class="form-group">
                              <label for="team">Rental Description<span class="validate-red">*</span></label>
                              <textarea id="notes" class="form-control"rows="5" cols="5" formControlName="rentalDescription" [ngClass]="{ 'is-invalid': submitted && f.rentalDescription.errors }"></textarea>
                              <div *ngIf="submitted && f.rentalDescription.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.rentalDescription.errors.required">Rental Description field is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Maximun price<span class="validate-red">*</span></label>
                              <input type="text" id="text" class="form-control" placeholder="Maximun Price" formControlName="maximunPrice" [ngClass]="{ 'is-invalid': submitted && f.maximunPrice.errors }">
                              <div *ngIf="submitted && f.maximunPrice.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.maximunPrice.errors.required">Maximun price is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Minimum price<span class="validate-red">*</span></label>
                              <input type="text" class="form-control" placeholder="Minimum Price" formControlName="minimumPrice" [ngClass]="{ 'is-invalid': submitted && f.minimumPrice.errors }"  >
                              <div *ngIf="submitted && f.minimumPrice.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.minimumPrice.errors.required">Minimum price is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">How long willing to stay (optional)</label>
                              <input type="text"
                                 placeholder="How long willing to stay"
                                 class="form-control"
                                  formControlName="stay_date">
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Gender<span class="validate-red">*</span></label>
                              <select class="custom-select form-control" formControlName="gender" id="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                 <option value="" disabled>Please select one option</option>
                                 <option value="Male">Male</option>
                                 <option value="Female">Female</option>
                                 <option value="Other">Other</option>
                                 <option value="notshare">I would rather not share</option>
                                 
                              </select>
                              <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.gender.errors.required">Gender field is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Previous city<span class="validate-red">*</span></label>
                              <input type="text" class="form-control" placeholder="Previous city" formControlName="previousCity" [ngClass]="{ 'is-invalid': submitted && f.previousCity.errors }" >
                              <div *ngIf="submitted && f.previousCity.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.previousCity.errors.required">Work Place is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Phone number<span class="validate-red">*</span></label>
                              <international-phone-number placeholder="Enter phone number" [maxlength]="20" [defaultCountry]="this.current_country" [required]="true" formControlName="phoneNo" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }"></international-phone-number>
                              <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.phoneNo.errors.required">Phone number is required.</span>
                              </div>
                              <div *ngIf="this.messageDigit">
                                 <span class="customPhoneMessage">{{this.messageDigit}}</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Address<span class="validate-red">*</span></label>
                              <input ngx-google-places-autocomplete type="text" class="form-control" placeholder="Address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" >
                              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.address.errors.required">Address is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Work Place<span class="validate-red">*</span></label>
                              <input  type="text"  class="form-control" placeholder="Work Place" formControlName="work_place" [ngClass]="{ 'is-invalid': submitted && f.work_place.errors }" >
                              <div *ngIf="submitted && f.work_place.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.work_place.errors.required">Work place is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Postal code<span class="validate-red">*</span></label>
                              <input type="text"  class="form-control" placeholder="Postal Code" formControlName="postalCode" [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" (keypress)="keyPress1($event)">
                              <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.postalCode.errors.required">Postal code is required.</span>
                              </div>
                              <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.postalCode.errors.maxlength">Postal code must be atmost 6 characters.</span>
                              </div>
                              <div *ngIf="this.messageDigit1">
                                 <span class="customPhoneMessage">{{this.messageDigit1}}</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Country<span class="validate-red">*</span></label>
                              <select class="custom-select form-control" formControlName="country" id="country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                 <option value="" disabled>Please select one option</option>
                                 <option *ngFor="let country of allCountries" value="{{country?.id}}">
                                    {{country?.name}} 
                              </select>
                              <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.country.errors.required">Country field is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team" class="radio-inline">Language<span class="validate-red">*</span></label>
                              <angular2-multiselect [data]="langdropdownList"
                              [(ngModel)]="languageSelectedItems"
                              [settings]="dropdownSettingsLanguage" 
                              formControlName="languages" 
                              (onSelect)="onLanguageSelect($event)" 
                              (onDeSelect)="OnLanguageDeSelect($event)" 
                              [ngClass]="{ 'is-invalid': submitted && f.languages.errors }">
                              </angular2-multiselect>
                              <div *ngIf="languageEmpty" class="default-error-message">Language is required.
                              </div>
                              <div *ngIf="atmostTwoValLang" class="default-error-message">You can select atmost two languages.
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team" class="radio-inline">Nationality<span class="validate-red">*</span></label>
                              <angular2-multiselect [data]="countrydropdownList" 
                              [(ngModel)]="nationalitySelectedItems"
                              [settings]="dropdownSettingsCountry"
                              (onSelect)="onNationalitySelect($event)" 
                              (onDeSelect)="OnNationalityDeSelect($event)" 
                              formControlName="nationality"
                              [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }" >
                              </angular2-multiselect>
                              <div *ngIf="nationalityEmpty"  class="default-error-message"> Nationality is required.
                              </div>
                              <div *ngIf="atmostTwoValNat"  class="default-error-message">You can select atmost two nationalities.
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Short bio<span class="validate-red">*</span></label>
                              <textarea id="notes" class="form-control"rows="5" cols="5" formControlName="biography" [ngClass]="{ 'is-invalid': submitted && f.biography.errors }"></textarea>
                              <div *ngIf="submitted && f.biography.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.biography.errors.required">Short Bio is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Interests<span class="validate-red">*</span></label>
                              <textarea id="notes" class="form-control"rows="5" cols="5" formControlName="interestes" [ngClass]="{ 'is-invalid': submitted && f.interestes.errors }"></textarea>
                              <div *ngIf="submitted && f.interestes.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.interestes.errors.required">Interests is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Habits<span class="validate-red">*</span></label>
                              <textarea id="notes" class="form-control"rows="5" cols="5" formControlName="habits" [ngClass]="{ 'is-invalid': submitted && f.habits.errors }"></textarea>
                              <div *ngIf="submitted && f.habits.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.habits.errors.required">Habits field is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="bill">Upload image<span class="validate-red">*</span></label>
                              <input type="file" class="form-control-file border" accept="image/*" formControlName="image" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" (change)="onSelectFile($event)">
                              <img class="pull-right" [src]="image_url" height="50" width="50" onError="this.src='assets/images/user.png';"  alt="user" > <br/>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Social media account<span class="validate-red">*</span></label>
                              <input type="text" class="form-control" placeholder="Ex. Facebook, Instagram etc.." formControlName="social_account">
                             
                           </div>
                        </div>
                        <input type="hidden" formControlName="file">
                        <div class="col-12 col-sm-12 text-center">
                           <button type="submit" class="btn btn-orange-sm my-btn-sube" style="padding: 15px 30px;">Submit</button>
                        </div>
                     </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>