<section class="wrapper work-panel">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="work-block">
       <div class="container">
          <div class="row">
             <div class="col-12">
                <ul class="breadcrumb custom-breadcrumb">
                   <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                   <li class="breadcrumb-item active">My Account</li>
                </ul>
             </div>
          </div>
          <div class="row">
             <div class="col-12">
                <div class="card mb-3">
                   <div class="card-header">My Account</div>
                   <div class="card-body">
                      <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile(updateProfileForm.value)">
                      <div class="row">
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">First Name:</label>
                               <input type="text" id="firstName" class="form-control" placeholder="First Name" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
                               <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.firstName.errors.required">First Name is required.</span>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Last Name:</label>
                               <input type="text" id="lastName" class="form-control" placeholder="First Name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                               <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.lastName.errors.required">Last Name is required.</span>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Email:</label>
                               <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" readonly="readonly">
                               <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.email.errors.required">Email is required.</span>
                               </div>
                            </div>
                         </div>
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Username:</label>
                               <input type="email" id="text" class="form-control" placeholder="Username" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" readonly="readonly">
                               <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.userName.errors.required">userName is required.</span>
                               </div>
                            </div>
                         </div>
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Date Of Birth:</label>
                                    <input type="text" placeholder="Date of Birth"
                                         class="form-control"
                                         #dp="bsDatepicker"
                                         bsDatepicker formControlName="dob"  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" >
                                         <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                        <span class="for-sub-name" *ngIf="f.dob.errors.required">Date of Birth is required.</span>
                               </div>
                            </div>
                         </div>
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Occupation/Timetable:</label>
                                  <span class="custom-dropdown big">
                                      <select formControlName="occupation" id="occupation">   
                                        
                                          <option value="1">Full time employee</option>
                                          <option value="2">Part time employee</option><option value="3">Part time/Full time student</option>
                                          <option value="4">Part time/Full time internship</option>
                                    </select>
                                  </span>
                                  <div *ngIf="submitted && f.occupation.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.occupation.errors.required">Occupation is required.</span>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">What would be your typical get up time during the week days:</label>
                                 
                                  <div *ngIf="submitted && f.occupation.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.occupation.errors.required">Occupation is required.</span>
                               </div>
                            </div>
                         </div>
                           <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Day of moving in/out:</label>
                              
                                  <div *ngIf="submitted && f.occupation.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.occupation.errors.required">Occupation is required.</span>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Price:</label>
                              
                                  <div *ngIf="submitted && f.occupation.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.occupation.errors.required">Occupation is required.</span>
                               </div>
                            </div>
                         </div>
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">How long willing to stay:</label>
                              
                                  <div *ngIf="submitted && f.occupation.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.occupation.errors.required">Occupation is required.</span>
                               </div>
                            </div>
                         </div>
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Gender:</label>
                                 <label class="radio-inline">
                                    <input type="radio" formControlName="gender" checked>
                                    Male
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" formControlName="gender">Female
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" formControlName="gender">Other
                                  </label>
                                  <div *ngIf="submitted && f.occupation.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.occupation.errors.required">Occupation is required.</span>
                               </div>
                            </div>
                         </div>
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Phone Number:</label>
                               <input type="text" id="phoneNumber" class="form-control"  placeholder="Phone Number" formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" (keypress)="keyPress($event)">
                               <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.phoneNumber.errors.required">Phone Number is required.</span>
                               </div>
                                <div *ngIf="this.messageDigit">
                                    <span class="customPhoneMessage">{{this.messageDigit}}</span>
                                </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Short bio:</label>
                                  <textarea id="notes" class="form-control"rows="5" cols="5" formControlName="short_bio" [ngClass]="{ 'is-invalid': submitted && f.short_bio.errors }"></textarea>
                                  <div *ngIf="submitted && f.short_bio.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.short_bio.errors.required">Short Bio is required.</span>
                               </div>
                            </div>
                         </div>
                             <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Interests:</label>
                                  <textarea id="notes" class="form-control"rows="5" cols="5" formControlName="interests" [ngClass]="{ 'is-invalid': submitted && f.interests.errors }"></textarea>
                                  <div *ngIf="submitted && f.interests.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.interests.errors.required">Interests is required.</span>
                               </div>
                            </div>
                         </div>
                    
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Address:</label>
                               <input type="text" id="address" class="form-control" placeholder="Address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" >
                               <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.address.errors.required">Phone Number is required.</span>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Postal Code:</label>
                               <input type="text" id="postalCode" class="form-control" placeholder="Postal Code" formControlName="postalCode" [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" (keypress)="keyPress1($event)">
                               <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.postalCode.errors.required">Postal Code is required.</span>
                               </div>
                               <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.postalCode.errors.maxlength">Postal code must be atmost 6 characters.</span>
                               </div>
                                <div *ngIf="this.messageDigit1">
                                    <span class="customPhoneMessage">{{this.messageDigit1}}</span>
                                </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="team">Country:</label>
                               <input type="text" id="country" class="form-control" placeholder="Country" formControlName="country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                               <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                  <span class="for-sub-name" *ngIf="f.country.errors.required">Country Name is required.</span>
                               </div>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label for="bill">Upload Image:</label>
                               <input type="file" class="form-control-file border"  formControlName="image" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" (change)="onSelectFile($event)">
                               <img [src]="image_url" height="200" onError="this.src='assets/images/user.png';"  alt="user"> <br/>
                            </div>
                         </div>
                         <input type="hidden" formControlName="file">
                         <div class="col-12 col-sm-12 text-center">
                            <button type="submit" class="btn btn-orange-sm my-btn-sube" style="padding: 15px 30px;">Submit</button>
                         </div>
                      </div>
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</section>