<section class="wrapper work-panel">
<app-header></app-header>
	<app-sidebar></app-sidebar>
	<div class="work-block">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<ul class="breadcrumb custom-breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active">Events</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<ul class="events-list">
					<li>
						<a routerLink="/house-chores">
							<i class="far fa-calendar-alt"></i>
							<p>House Chores</p>
						</a>
					</li>
					<li>
						<a routerLink="/create-bill">
							<i class="far fa-money-bill-alt"></i>
							<p>Bills</p>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="fas fa-sliders-h"></i>
							<p>Setting</p>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="fas fa-user"></i>
							<p>My Account</p>
						</a>
					</li>
                  </ul>
			</div>
		</div>
	</div>
   </div>

</section>

