.work-block .table td, .work-block .table th {
    font-size: 13px;
    vertical-align: middle;
}
a.btn.btn-orange-sm {
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
}
button.pull-right.btn.btn-orange-sm {
    border-radius: 0;
    margin-bottom: 15px;
    font-size: 13px;
}
.ck-editor__editable_inline {
    min-height: 500px;
}
  
.page-content.modal {
    overflow: auto;
}
.page-content.modal .modal-dialog {
    max-width: 60%;
}
#container-cross {
    width: 25%;
    border: 2px solid #ffd1d1;
    padding: 15px;
    margin: 20px 20px 20px 20px;
    overflow: visible;
    box-shadow: 5px 5px 2px #888888;
    position: relative;
    float: left;
}

#x {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
}
div#container-cross:nth-child(3n+1) {
    clear: left;
}