<section class="wrapper work-panel">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="work-block p-0">
				
        <div class="banner-market">
            <h1 class="hdg">get more booking with <br />hassle free.</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hdg-box">
                        <h1 class="hdg-main">3 Simple steps to sell</h1>
                        <p class="sb-hdg">Read about user incredible colive experience</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="space-list">
                        <li>
                            <a href="javascript:void(0)">
                                <span class="step-number">1</span>
                                <p>Add your space</p>
                            </a>
                        </li>
                        
                        <li>
                            <a href="javascript:void(0)">
                                <span class="step-number">2</span>
                                <p>Accept Bookings</p>
                            </a>
                        </li>
                        
                        <li>
                            <a href="javascript:void(0)">
                                <span class="step-number">3</span>
                                <p>Recieve Your Amount</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            
        <div class="why-list">
            <div class="container dashboard-container">
                <div class="row">
                    <div class="col-12">
                        <div class="hdg-box">
                            <h1 class="hdg-main">why list with us?</h1>
                            <p class="sb-hdg">Read about user incredible colive experience</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="bg-white p-3 pl-4 rounded box-shadow">
                            <div class="coliving-icon p-4 rounded">
                                <span class="top-icon">
                                    <img src="https://colive.imgix.net/icons/dollar-alt.svg">
                                </span>
                                <div class="coliving-text">
                                    <h4>Earn Money</h4>
                                    <p>We don't add additional fees. No Booking or Credit Card Fees</p>
                                </div>
                            </div>
                        </div>
                   </div>
                   
                   <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="bg-white p-3 pl-4 rounded box-shadow">
                            <div class="coliving-icon p-4 rounded">
                                <span class="top-icon">
                                    <img src="https://colive.imgix.net/icons/dollar-alt.svg">
                                </span>
                                <div class="coliving-text">
                                    <h4>Trusted Marketplace</h4>
                                    <p>We don't add additional fees. No Booking or Credit Card Fees</p>
                                </div>
                            </div>
                        </div>
                   </div>
                   
                   <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="bg-white p-3 pl-4 rounded box-shadow">
                            <div class="coliving-icon p-4 rounded">
                                <span class="top-icon">
                                    <img src="https://colive.imgix.net/icons/dollar-alt.svg">
                                </span>
                                <div class="coliving-text">
                                    <h4>Professional Store Front</h4>
                                    <p>We don't add additional fees. No Booking or Credit Card Fees</p>
                                </div>
                            </div>
                        </div>
                   </div>
                   
               </div>
            </div>
        </div>
        

        <div class="why-list listing-builder">
            <div class="container">
                <div class="hdg-box">
                    <h1 class="hdg-main">Listing Builder</h1>
                    <p class="sb-hdg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="tab-content-box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="listing-left-menu">
                                <div class="content-score">
                                    <p>Content Score<span>80</span></p>
                                </div>
                                <!-- Nav tabs -->
                                    <ul class="nav nav-tabs">
                                      <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#Location">Location<!--  <span><i class="fas fa-check"></i></span> --></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#Details">Basic Details <!-- <span><i class="fas fa-check"></i></span> --></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#Rooms">Rooms <!-- <span><i class="fas fa-check"></i></span> --></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#Preferred">Preferred Guests<!--  <span><i class="fas fa-check"></i></span> --></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#Photos">Photos <!-- <span><i class="fas fa-check"></i></span> --></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#Description">Description <!-- <span><i class="fas fa-check"></i></span> --></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#Facilities">Facilities <!-- <span><i class="fas fa-check"></i></span> --></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#Extras">Extras <!-- <span><i class="fas fa-check"></i></span> --></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#Booking">Booking Rules<!--  <span><i class="fas fa-check"></i></span> --></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#Instructions">Instructions <!-- <span><i class="fas fa-check"></i></span> --></a>
                                      </li>
                                    </ul>
                                <!-- End Nav tabs -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="listing-right-sec">
                                <!-- Tab panes -->
                                    <div class="tab-content">
                                      <div class="tab-pane container active" id="Location">
                                          <div class="Location-content">
                                              <div class="first-blk">
                                                  <div class="row">
                                                      <div class="col-md-2">
                                                          <div class="head-text">
                                                              <p>Address</p>
                                                          </div>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <div class="center-blk">
                                                              <form>
                                                                  <input type="text" name="" placeholder="Enter Address">
                                                                  <span><i class="fas fa-address-card"></i></span>
                                                              </form>	
                                                          </div>	
                                                      </div>
                                                      <div class="col-md-4">
                                                          <div class="Location-right">
                                                              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-2">
                                                      <div class="head-text">
                                                          <p>Map pin</p>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <div class="center-blk">
                                                          <form>
                                                              <img src="https://miro.medium.com/max/700/1*qYUvh-EtES8dtgKiBRiLsA.png">
                                                          </form>		
                                                      </div>
                                                  </div>
                                                  <div class="col-md-4">
                                                      <div class="Location-right">
                                                          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="tab-pane container fade" id="Details">
                                          <div class="details-tab">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <form>
                                                        <input type="text" name="" placeholder="Name">												  			
                                                      </form>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <form>
                                                        <input type="text" name="" placeholder="Email">												  			
                                                      </form>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <form>
                                                        <input type="text" name="" placeholder="Mobile Number">												  			
                                                      </form>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <form>
                                                        <input type="text" name="" placeholder="Date of Birth">												  			
                                                      </form>
                                                  </div>  	
                                                  <div class="col-md-6">
                                                      <form>
                                                        <input type="text" name="" placeholder="Address">												  			
                                                      </form>
                                                  </div>
                                                  <div class="col-md-12">
                                                      <form>
                                                        <textarea placeholder="Description"></textarea>												  			
                                                      </form>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <button type="button">Submit</button>
                                                  </div>
                                                  
                                              </div>
                                          </div>
                                      </div>
                                      <div class="tab-pane container fade" id="Rooms">
                                          <div class="room-tab">
                                          <!-- 	<div class="row">
                                                  <div class="col-md-6">
                                                      <form>
                                                          <input type="text" id="email" class="floatLabel" name="email">
                                                      </form>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <form>
                                                          <input type="text" id="email" class="floatLabel" name="email">
                                                      </form>
                                                  </div>
                                              </div> -->
                                          </div>
                                      </div>
                                      <div class="tab-pane container fade" id="Photos">...</div>
                                      <div class="tab-pane container fade" id="Description">...</div>
                                      <div class="tab-pane container fade" id="Facilities">...</div>
                                      <div class="tab-pane container fade" id="Extras">...</div>
                                      <div class="tab-pane container fade" id="Booking">...</div>
                                      <div class="tab-pane container fade" id="Instructions">...</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="commission">
            <div class="container dashboard-container">
                <div class="row">
                    <div class="col-9 m-auto">
                        <div class="row">
                            <div class="col-12 col-sm-6 parts">
                                <div class="parts-inner">
                                    <img class="commission-icons" src="assets/images/hand.png" />
                                    <h1 class="hdg">Low Commission</h1>
                                    <p class="des">We only charge once we send you guests. Our commission is between 5% and 10%, based on length of stay. The longer stay , the lower commission.</p>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6 parts">
                                <div class="parts-inner">
                                    <img class="commission-icons" src="assets/images/payment-method.png" />
                                    <h1 class="hdg">Simple Payout</h1>
                                    <p class="des">We only charge once we send you guests. Our commission is between 5% and 10%, based on length of stay. The longer stay , the lower commission.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="availablity">
            <div class="container dashboard-container">
                <div class="row">
                    <div class="col-12">
                        <div class="hdg-box">
                            <h1 class="hdg-main">Availablity Calender</h1>
                            <p class="sb-hdg">See your booking and check who is moving in and out each week.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <div class="calendar-wrapper custm_calender">
                            <button id="btnPrev" type="button">Prev</button>
                            <button id="btnNext" type="button">Next</button>
                            <div id="divCal"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="requirement">
            <div class="container dashboard-container">
                <div class="row">
                    <div class="col-12">
                        <div class="hdg-box">
                            <h1 class="hdg-main">Requirement</h1>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <ul class="requirement-list">
                            <li>Like minded comunity</li>
                            <li>Professional host</li>
                            <li>Fast Internet</li>
                            <li>Communal Area(s)</li>
                            <li>Cleaning included</li>
                            <li>Furnished</li>
                            <li>Flexible leases</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="space">
            <div class="container dashboard-container">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-colored">Add Your Space</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
    </div>
   
</section>