<section class="wrapper work-panel">
	<app-header></app-header>
	<app-sidebar></app-sidebar>
	<div class="work-block">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="nav nav-tabs custom-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#active-booking">All</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#create-event">Calender</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#completed-booking">Team</a>
						</li>
						<li class="nav-item1"><div class="add-btn-top pl-2 mt-1"><button type="button" class="close" data-toggle="modal" data-target="#exampleModal"><span aria-hidden="true">+</span></button> </div>
						</li>
						
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane fade active show" id="active-booking">
							<div class="custm_to-do mb-4">
								<div class="to-do_heading"><h2>To-do</h2><button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">6</span>
								</button></div>
								<div class="to_do_list">
									<ul class="list-group">
										<li class="list-group-item active-user">Clean drawers <span class="badge badge-primary badge-pill"></span></li>
										<li class="list-group-item active-user">Clean outside of bin <span class="badge badge-primary badge-pill"></span></li>
										<li class="list-group-item active-user">Clean pots and pans <span class="badge badge-primary badge-pill"></span></li>
										<li class="list-group-item active-user">Clean pots and pans <span class="badge badge-primary badge-pill"></span></li>
										<li class="list-group-item active-user">Clean toilet <span class="badge badge-primary badge-pill"></span></li>
										<li class="list-group-item active-user">Fold towels <span class="badge badge-primary badge-pill"></span></li>
									</ul>
								</div>
							</div>
							<div class="custm_to-do mb-4">
								<div class="to-do_heading"><h2>Complete</h2><button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">2</span>
								</button></div>
								<div class="to_do_list">
									<ul class="list-group">
										<li class="list-group-item active-user">Clean drawers
											<span class="badge badge-primary badge-pill"></span>
										</li>
										<li class="list-group-item active-user">Clean outside of bin
											<span class="badge badge-primary badge-pill"></span>
										</li>
									</ul>
								</div>
							</div>
							<div class="custm_to-do mb-4">
								<div class="to-do_heading"><h2>Suggestions</h2><button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">5</span>
								</button></div>
								<div class="to_do_list">
									<ul class="list-group">
										<li class="list-group-item active-plus">
											Clean outside of fridge
											<span class="badge badge-primary badge-pill"><i class="fa fa-times" aria-hidden="true"></i></span>
										</li>
										<li class="list-group-item active-plus">
											Tidy desk
											<span class="badge badge-primary badge-pill"><i class="fa fa-times" aria-hidden="true"></i></span>
										</li>
										<li class="list-group-item active-plus">
											Clean drawers
											<span class="badge badge-primary badge-pill"><i class="fa fa-times" aria-hidden="true"></i></span>
										</li>
										<li class="list-group-item active-plus">
											Fold towels
											<span class="badge badge-primary badge-pill"><i class="fa fa-times" aria-hidden="true"></i></span>
										</li>
										<li class="list-group-item active-plus">
											Clean drawers
											<span class="badge badge-primary badge-pill"><i class="fa fa-times" aria-hidden="true"></i></span>
										</li>
									</ul>
								</div>
							</div>

						</div>
						<div class="tab-pane fade" id="create-event">
							<div class="calendar-wrapper custm_calender">
									
								<div class='app-calendar'>
									<full-calendar
										defaultView="timeGridWeek"
										[header]="{
											left: 'prev,next today',
											center: 'title',
											right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
										}"
										[plugins]="calendarPlugins"
										[weekends]="calendarWeekends"
										[events]="calendarEvents"
										(dateClick)="handleDateClick($event)"
									></full-calendar>
								</div>

								<!-- <button id="btnPrev" type="button">Prev</button>
								<button id="btnNext" type="button">Next</button> -->

								<div id="divCal"></div>
							</div>
						</div>
						<div class="tab-pane fade custm_plus" id="completed-booking">
							<div class="team-member">
								<div class="team-heading"><h2>Assigned To</h2>
								</div>
								<div class="custom_member" *ngFor="let team of allTeam,index as i">
									<ul>
										<li><div class="inner_member">
											<div class="member-img">
												<span>{{i+1}}.</span>
												<img src="assets/images/user.png">
											</div>
											<div class="member-text">{{team?.name}}</div>										  
										</div></li>
									</ul>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="onload-popup">
	<div class="modal" role="dialog" tabindex="-1" style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="isWelcomeModal ? 'block' : 'none'" *ngIf="isWelcomeModal"  aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header-center p-3 " id="isWelcomeBlock" *ngIf="isWelcomeBlock">
					<button type="button" class="close" (click)="close_welcome()">
						<span aria-hidden="true">x</span>
					</button>
					<div class="text-center">
						<h5 class="text">WELCOME TO</h5>
						<h2 class="mt-3"><span class="baby-blue">Coliv</span>ing</h2>

					</div>

				</div>

				<div class="modal-header-center p-3" id="BrightNestBlock" *ngIf="isBrightNestBlock" >
					<button type="button" class="close" (click)="close_welcome()">
						<span aria-hidden="true">x</span>
					</button>
					<div class="text-center">
						<h5 class="text">BRIGHTNEST</h5>
						<h2 class="mt-3"><span class="baby-blue">home</span>quiz</h2>
					</div>
				</div>

				<div class="progress-blue" *ngIf="isProgressBlue">
					<div class="progress-25"></div>
				</div>

				<div class="modal-body p-0">
					<div class="lock-bg-blue" *ngIf="islockbgblue">
						<p class="graph">Take our 60 second Home Quiz to<br> unlock custom tips</p>
					</div>
					<div class="p-5" id="House1st" *ngIf="isHouse1st">
						<div class="house-text text-center">
							<h3>Which of these do you have in your house?</h3>
							<p>(Please select all that apply)</p>
						</div>
						<div class="row mt-2">
							<div class="col-md-4">
								<a class="text-decoration-none" href="javascript:void(0)" id="KidBlock" (click) ="openNextTabModal('1')">
									<div class="kid-bx text-center p-3">
										<h6 class="mb-3">Kids</h6>
										<img class="img-fluid" src="assets/images/kids-background.png" width="100">
									</div>
								</a>
							</div>
							<div class="col-md-4">
								<a class="text-decoration-none" href="javascript:void(0)" (click) ="openNextTabModal('2')">
									<div class="kid-bx text-center p-3">
										<h6 class="mb-3">Pets</h6>
										<img class="img-fluid" src="assets/images/pets-background.png" width="100">
									</div>
								</a>
							</div>
							<div class="col-md-4">
								<a class="text-decoration-none" href="javascript:void(0)" (click) ="openNextTabModal('3')">
									<div class="kid-bx text-center p-3">
										<h6 class="mb-3">Neither</h6>
										<img class="img-fluid" src="assets/images/neither-background.png" width="80">
									</div>
								</a>
							</div>
						</div>
					</div>														
				</div>				  
				<div class="homequiz-section p-5" id="HomeQuizStep1" *ngIf="isHomeQuizStep == '1'">
					<div class="house-text text-center">
						<h3>What else do you take care of?</h3>
						<p>(Please select all that apply)</p>
					</div>
					<div class="row mt-2">
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)" id="KidBlock">
								<div class="orange-bx kid-bx text-center p-3">
									<h6 class="mb-3">EXTERIOR</h6>
									<img class="img-fluid" src="assets/images/exterior-background.png" width="100">
								</div>
							</a>
						</div>
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="blue-bx kid-bx text-center p-3">
									<h6 class="mb-3">POOL</h6>
									<img class="img-fluid" src="assets/images/pool-background.png" width="100">
								</div>
							</a>
						</div>
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="pink-bx kid-bx text-center p-3">
									<h6 class="mb-3">BASEMENT</h6>
									<img class="img-fluid" src="assets/images/basement-background.png" width="80">
								</div>
							</a>
						</div>
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="orange-bx kid-bx text-center p-3">
									<h6 class="mb-3">LAWN/GARDEN</h6>
									<img class="img-fluid" src="assets/images/lawn-background.png" width="100">
								</div>
							</a>
						</div>
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="blue-bx kid-bx text-center p-3">
									<h6 class="mb-3">GARAGE</h6>
									<img class="img-fluid" src="assets/images/garage-background.png" width="100">
								</div>
							</a>
						</div>
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="pink-bx kid-bx text-center p-3">
									<h6 class="mb-3">ATTIC</h6>
									<img class="img-fluid" src="assets/images/attic-background.png" width="80">
								</div>
							</a>
						</div>
					</div>						
				</div>
				<div class="homequiz-section p-5" id="HomeQuizStep2" *ngIf="isHomeQuizStep == '2'">
					<div class="house-text text-center">
						<h3>Does your home have a...?</h3>					
					</div>
					<div class="row mt-2">
						<div class="col-md-6 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)" id="KidBlock">
								<div class="orange-bx kid-bx text-center p-3">
									<h6 class="mb-3">A/C</h6>
									<img class="img-fluid" src="assets/images/ac-background.png" width="100">
								</div>
							</a>
						</div>
						<div class="col-md-6 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="blue-bx kid-bx text-center p-3">
									<h6 class="mb-3">BOILER</h6>
									<img class="img-fluid" src="assets/images/boiler-background.png" width="100">
								</div>
							</a>
						</div>							 
						<div class="col-md-6 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="orange-bx kid-bx text-center p-3">
									<h6 class="mb-3">FURNACE</h6>
									<img class="img-fluid" src="assets/images/furnace-background.png" width="100">
								</div>
							</a>
						</div>
						<div class="col-md-6 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="blue-bx kid-bx text-center p-3">
									<h6 class="mb-3">WATER HEATER</h6>
									<img class="img-fluid" src="assets/images/waterheater-background.png" width="100">
								</div>
							</a>
						</div>							 
					</div>						
				</div>
				<div class="homequiz-section p-5" id="HomeQuizStep3" *ngIf="isHomeQuizStep == '3'">
					<div class="house-text text-center">
						<h3>What kind of tips do you want for<br> your home?</h3>						
					</div>
					<div class="row mt-2">
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)" id="KidBlock">
								<div class="yellow-bx kid-bx text-center p-3">
									<h6 class="mb-3">SAVVY</h6>
									<img class="img-fluid" src="assets/images/savvy-background.png" width="100">
								</div>
							</a>
						</div>
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="blue-bx kid-bx text-center p-3">
									<h6 class="mb-3">CLEAN</h6>
									<img class="img-fluid" src="assets/images/clean-background.png" width="100">
								</div>
							</a>
						</div>
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="green-bx kid-bx text-center p-3">
									<h6 class="mb-3">GREEN</h6>
									<img class="img-fluid" src="assets/images/green-background.png" width="80">
								</div>
							</a>
						</div>
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="orange-bx kid-bx text-center p-3">
									<h6 class="mb-3">HEALTHY</h6>
									<img class="img-fluid" src="assets/images/healthy-background.png" width="100">
								</div>
							</a>
						</div>
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="pink-bx kid-bx text-center p-3">
									<h6 class="mb-3">HANDY</h6>
									<img class="img-fluid" src="assets/images/handy-background.png" width="100">
								</div>
							</a>
						</div>
						<div class="col-md-4 mb-3">
							<a class="text-decoration-none" href="javascript:void(0)">
								<div class="lgreen-bx kid-bx text-center p-3">
									<h6 class="mb-3">CREATIVE</h6>
									<img class="img-fluid" src="assets/images/creative-background.png" width="80">
								</div>
							</a>
						</div>
					</div>						
				</div>
				<div class="next-btn" id="NextStep" *ngIf="isNextStep">
					<button type="button" class="btn btn-secondary" (click)="onNextStepClick('1')">Next</button>
				</div>
				<div class="next-btn"  id="NextStep1" *ngIf="isNextStep1">
					<button type="button" class="btn btn-secondary" (click)="onNextStepClick('2')">Next</button>
				</div>				  
				<div class="next-btn"  id="NextStep2" *ngIf="isNextStep2" >
					<button type="button" class="btn btn-secondary" (click)="onNextStepClick('3')">Next</button>
				</div>				  
			</div>			
		</div>
	</div>
</div>
<div class="modal-dialog-img" >
	<div class="modal modal-open fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display':display}">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add task</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
				</div>
				<form [formGroup]="addTaskForm" (ngSubmit)="addTask(addTaskForm.value)">
					<div class="modal-body custm_modal">
						<div class="form-group">

							<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Task name" formControlName="taskName" [ngClass]="{ 'is-invalid': submitted && f.taskName.errors }">
							<div *ngIf="submitted && f.taskName.errors" class="invalid-feedback">
								<span class="for-sub-name" *ngIf="f.taskName.errors.required">Task Name is required.</span>
							</div>
						</div>

						<div class="row">    
							<div class="col-md-12">
								<div class="assign_name">
									<a href="javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i>Assign To</a>
									<select class="custom-select form-control" formControlName="assignTo" [ngClass]="{ 'is-invalid': submitted && f.assignTo.errors }">
										<option value="" disabled>Please select one option</option>
										<option *ngFor="let users of allUsers" value="{{users?.userId}}">
											{{users?.firstName}} {{users?.lastName}}
										</option>
									</select>
									<div *ngIf="submitted && f.assignTo.errors" class="invalid-feedback">
								<span class="for-sub-name" *ngIf="f.assignTo.errors.required">Assign user to this task.</span>
							</div>
								</div>
							</div>
						</div>
						<div class="row">    
							<div class="col-md-12">
								<div class="assign_name">
									<a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i>Due Date</a>
									<input type="text"
									placeholder="Datepicker"
									class="form-control"
									bsDatepicker formControlName="dueDate" [ngClass]="{ 'is-invalid': submitted && f.dueDate.errors }" (change)="transform($event)">
								 <div *ngIf="submitted && f.dueDate.errors" class="invalid-feedback">
								  <span class="for-sub-name" *ngIf="f.dueDate.errors.required">Due Date is required.</span>
							  </div>
								</div>
							</div>
						</div>
						<div class="row">    
							<div class="col-md-12">
								<div class="assign_name">
									<a href="javascript:void(0)"><i class="fa fa-edit" aria-hidden="true"></i>Category:Communal</a>
									<select class="custom-select form-control" formControlName="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
										<option value="" disabled>Please select one option</option>
										<option *ngFor="let categories of allCategories" value="{{categories?.category_id}}">
											{{categories?.name}} 
										</option>
									</select>
									 <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
								  <span class="for-sub-name" *ngIf="f.category.errors.required">Category is required.</span>
							  </div>
								</div>
							</div>
						</div> 
					    <div class="row">    
							<div class="col-md-12">
								<div class="assign_name">
									<a href="javascript:void(0)"><i class="fa fa-image" aria-hidden="true"></i>Upload Photo</a>
									  <input type="file" class="form-control" formControlName="image" [ngClass]="{ 'is-invalid': submitted && f.image.errors }"  (change)="onSelectFile($event)">
									  <img [src]="url" height="200" *ngIf="url !=''"> <br/>
									  <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
								        <span class="for-sub-name" *ngIf="f.image.errors.required">Image is required.</span>
							        </div>
								</div>
							</div>
						</div> 
					    <div class="row">
								<div class="col-md-12">
									<div class="assign_name">
										<a href="javascript:void(0)"><i class="fa fa-notes" aria-hidden="true"></i>Notes</a>
										<textarea id="notes" class="form-control"rows="5" cols="5" formControlName="notes" [ngClass]="{ 'is-invalid': submitted && f.notes.errors }"></textarea>
										<div *ngIf="submitted && f.notes.errors" class="invalid-feedback">
								          <span class="for-sub-name" *ngIf="f.notes.errors.required">Notes is required.</span>
							            </div>
									</div>
								</div>
						</div>
						<button type="submit" class="btn btn-orange">Add Task</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>