.msg_history {height: none !important;}


.type_msg {
    border-top: 1px solid #c4c4c4;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    padding-left: 15px;
    background: #fff;
}
.inbox_msg {
    position: relative;
}
.mesgs {
    padding-bottom: 10px;
    padding-top: 25px;
    position: relative;
    top: 45px;
     max-height: 500px;
}

.headind_srch.testing {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}
#taskInfo {
  text-align: center;
   background-color: rgba(0, 0, 0, 0.7);
}
.zero-length {
    
    border: solid 1px #ed502d;
    padding: 5px 0 5px 0px !important;
}