<div class="container register">
   <div class="row">
      <div class="col-md-3 register-left">
         <img src="assets/images/Logo-colive.png" alt="" />
         <h3>Welcome to the colivingApp</h3>
         <p>The app that not only deals with issues that can appear when sharing accommodation but also solves them. The questionnaire below will be shared with the coliver from whom you received this link. Filling the data up will make you become a potential candidate to share the apartment with.</p>
         <!-- <input type="submit" name="" value="Login"/><br/> -->
      </div>
      <div class="col-md-9 register-right">
         <!--   <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
               <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tenant</a>
            </li>
         </ul> -->
         <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
               <h3 class="register-heading">Complete the Questionare</h3>
               <div class="row register-form">
                  <form [formGroup]="questionareform" (ngSubmit)="questionareSubmit()">
                     <div class="col-md-12">
                        <div class="form-group">
                           <h3>1)&nbsp;Which of these answers describes you the best? Partying:</h3>
                           <input type="radio" formControlName="partying" value="0" [ngClass]="{ 'is-invalid': submitted &&  wf.partying.errors }">Yes&nbsp;&nbsp;
                           <input type="radio" formControlName="partying" value="1" [ngClass]="{ 'is-invalid': submitted && wf.partying.errors }">No&nbsp;&nbsp;
                           <input type="radio" formControlName="partying" value="2" [ngClass]="{ 'is-invalid': submitted && wf.partying.errors }">Sometimes&nbsp;&nbsp;
                           <input type="radio" formControlName="partying" value="3" [ngClass]="{ 'is-invalid': submitted && wf.partying.errors }">Strictly Against&nbsp;&nbsp;
                           <div *ngIf="submitted && wf.partying.errors" class="welErr">
                              <div *ngIf="wf.partying.errors.required">Please select one option from partying.</div>
                           </div>
                        </div>
                        <div class="form-group">
                           <h3>2)&nbsp;Which of these answers describes you the best? Alcohol:</h3>
                           <input type="radio" formControlName="alcohol" value="0">Yes&nbsp;&nbsp;
                           <input type="radio" formControlName="alcohol" value="1">No&nbsp;&nbsp;
                           <input type="radio" formControlName="alcohol" value="2">Sometimes&nbsp;&nbsp;
                           <input type="radio" formControlName="alcohol" value="3">Strictly Against&nbsp;&nbsp;
                           <div *ngIf="submitted && wf.alcohol.errors" class="welErr">
                              <div *ngIf="wf.alcohol.errors.required">Please select one option from alcohol.</div>
                           </div>
                        </div>
                        <div class="form-group">
                           <h3>3)&nbsp;Which of these answers describes you the best? Smoking:</h3>
                           <input type="radio" formControlName="smoking" value="0">Yes&nbsp;&nbsp;
                           <input type="radio" formControlName="smoking" value="1">No&nbsp;&nbsp;
                           <input type="radio" formControlName="smoking" value="2">Sometimes&nbsp;&nbsp;
                           <input type="radio" formControlName="smoking" value="3">Strictly Against&nbsp;&nbsp;
                           <div *ngIf="submitted && wf.smoking.errors" class="welErr">
                              <div *ngIf="wf.smoking.errors.required">Please select one option from smoking.</div>
                           </div>
                        </div>
                        <div class="form-group">
                           <h3>4)&nbsp;How important is it to you to live in a clean and tidy apartment generally?</h3>
                           <p>(Please choose range)</p>
                           <mat-slider min="1" max="5" step="1" value="1" formControlName="apartment_clean_importance" [ngClass]="{ 'is-invalid': submitted && wf.apartment_clean_importance.errors }" thumbLabel tickInterval="1"></mat-slider>
                           <div *ngIf="submitted && wf.apartment_clean_importance.errors" class="welErr">
                              <div *ngIf="wf.apartment_clean_importance.errors.required">Please select an valid range between 1-5.</div>
                           </div>
                        </div>
                        <div class="form-group">
                           <h3>5)&nbsp;How much do you like a music in your apartment.</h3>
                            <p>(Please choose range)</p>
                           <mat-slider min="1" max="5" step="1" value="1" formControlName="music" [ngClass]="{ 'is-invalid': submitted && wf.music.errors }" thumbLabel tickInterval="1"></mat-slider>
                           <div *ngIf="submitted && wf.music.errors" class="welErr">
                              <div *ngIf="wf.music.errors.required">Please select an valid range between 1-5.</div>
                           </div>
                        </div>
                        <div class="form-group">
                           <h3>6)&nbsp;Party in your apartment</h3>
                            <p>(Please choose range)</p>
                           <mat-slider min="1" max="5" step="1" value="1" formControlName="apartment_party" [ngClass]="{ 'is-invalid': submitted && wf.apartment_party.errors }" thumbLabel tickInterval="1"></mat-slider>
                           <div *ngIf="submitted && wf.apartment_party.errors" class="welErr">
                              <div *ngIf="wf.apartment_party.errors.required">Please select an valid range between 1-5.</div>
                           </div>
                        </div>
                        <div class="form-group">
                           <label>7)&nbsp;Instagram/Facebook/LinkedIn account.</label>
                           <input type="text" class="form-control" placeholder="Social account address" formControlName="social_account" />
                           
                        </div>
                      
                        <div class="form-group">
                           <label>8)&nbsp;Enter your email address. </label>
                           <input type="text" class="form-control" placeholder="Valid email address *" formControlName="email" />
                           <div *ngIf="submitted && wf.email.errors" class="welErr">
                           <div *ngIf="wf.email.errors.required">Please enter an valid email address.</div>
                           </div>
                        </div>
                        <input type="hidden" formControlName="ref_code">
                        <button type="submit" class="btn btn-orange-sm pull-right">Submit</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!---  Modal to delete TASK  -->
<div class="container">
   <!-- The Modal -->
   <div class="modal custom-download" id="taskDel" [style.display]="openFileDownloadModal ? 'block' : 'none'" *ngIf="openFileDownloadModal">
      <div class="modal-dialog modaldialog12">
         <div class="modal-content">
            <!-- Modal Header -->
            <!-- Modal body -->
            <div class="modal-body">
               <form method="POST" action="https://retaildv.uprx.com/product" accept-charset="UTF-8">
                  <input name="_token" type="hidden" value="hMD63dQHhd28BsVDlfbYtiXaObgLDGwLxPdw4T5O">
                  <div class="create-account-content">
                     <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                           <div class="popup-content">
                              <h2>Registered Successfully</h2>
                              <p style="padding-top: 6px;">Your application has been received successfully. Wait for the contact from the coliver who issued this link. In the meantime, you can download the app and join the colivers community for free!</p>
                           </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                           <div class="popup-image">
                              <img src="assets/images/Logo-colive.png">
                           </div>
                        </div>
                     </div>
                     <div class="row">
                     </div>
                     <div class="create-account-btn">
                        <!-- <button type="submit" >Create Account Now</button> -->
                         <a class="btn btn-lg src_btn" style=" "href="assets/uploads/app-debug.apk" download (click)="closeModal()">Download App</a>
                     </div>
                  </div>
               </form>
            </div>
            <div class="modal-footer"></div>
         </div>
      </div>
   </div>
</div>