.register{
    background: -webkit-linear-gradient(left, #ef9986, #ed502d);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 30% 50%;
    border-bottom-left-radius: 30% 50%;
}
.register-left img{
    margin-bottom: 15%;
    width: auto;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 8% 20% 20% 30%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #ed502d;
    border: 2px solid #ed502d;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #ed5737;;
}
.register-right .tab-content {
    background: none; 
    line-height: 25px;
    border: 0px solid #ddd; 
    padding: 0px; 
}
.register-form label {
    display: block;
    font-weight: 500;
    font-size: 16px;
}
.register-form .form-group h3 {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.register-form .form-group p {
   margin-bottom: 0px;
}
.modal-dialog.modaldialog12 {
    max-width: 600px !important;
    min-width: 600px;
}
.popup-image img {
    margin: 30px 0px;
}
/*.custom-download .modal-header {
    color: #ffffff;
    background: #fff !important;
    border-bottom: none !important;
    padding: 20px;
    border-radius: 2.3rem !important;
}*/
.popup-image {
    text-align: center;
}
.custom-download .modal-footer {
    border-top: 0px !important;
}
.popup-content p {
    font-size: 15px;
    margin: 0 0 13px;
    color: #000;
    font-weight: normal;
}
.popup-content h2 {
    font-size: 20px;
    text-align: left;
    color: #fe1413;
    margin: 0px;
    font-weight: normal;
}
.create-account-content {
    padding: 20px 20px 0px 20px;
}
.modal-content {
    border-radius: 2.3rem !important;
}
.register-form .form-group input {
    padding-right: 20px !important;
    margin-right: 5px;
}
.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: #f00 !important;
}
.create-account-btn {
    text-align: center;
}
.create-account-btn a.src_btn{
background-color: #ed502d; border-color: #FE1413;border-radius: 3px;padding: 10px 40px; font-size: 14px;vertical-align: middle;display: inline-block; height: auto;
    color: white;text-transform: uppercase; border-radius: 100px;margin: auto;width: auto;
}

.app-download-link {
    position: relative;
    left: -5px;
}
.app-download-link .form-check {
    padding-left: 9px !important;
}
.invalid-feedback {
    text-align: left;
    position: relative;
    left: 2px;
}
span.for-sub-name {
    color: #dc3545;
    font-weight: 400;
    font-size: 13px;
}
.app-download-link label a {
    color: #ed502e;
}
.app-download-link label {
    font-size: 13px !important;
}
.app-download-link label.form-check-label {
    position: relative;
    left: -6px;
}

@media (max-width:767px){
.register-heading {
    color: #ed5737;
    font-size: 20px;
    font-weight: 600;
    margin-left: 17%;
}
.modal-dialog.modaldialog12 {
    max-width: 80% !important;
    min-width: 80%;
    margin-top: 80px;
}
}