<section class="wrapper work-panel">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
 
        
        <div class="work-block">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="breadcrumb custom-breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Create Bill</li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-3">
                            <div class="card-header">Create Bill</div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Choose Team to Assign:</label>
                                                <select class="form-control" id="sel1">
                                                    <option>Patiala House</option>
                                                    <option>Mavi Group</option>
                                                    <option>Royal Bains</option>
                                                    <option>BRM</option>
                                                    <option>SBJTC</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Title:</label>
                                                <input type="text" class="form-control" id="email">
                                            </div>
                                        </div>
                                            
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Amount:</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Date:</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Paid By:</label>
                                                <select class="form-control" id="sel1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Upload Bill:</label>
                                                <input type="file" class="form-control-file border">
                                            </div>
                                        </div>
                                        
                                        <!-- <div class="col-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="email">&nbsp;</label>
                                                <input type="file" class="form-control-file border">
                                            </div>
                                        </div> -->
                                        
                                        <div class="col-12 col-sm-12">
                                            <div class="">
                                                <label for="email">Assign To:</label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> All
                                                </label>
                                                
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Alex Decosta
                                                </label>
                                                
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Vicky Kaushal
                                                </label>
                                                
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Mavi Tejpreet
                                                </label>
                                                
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Saloni
                                                </label>
                                                
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Preeti
                                                </label>
                                                
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"> Sanjay
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 col-sm-12 text-center">
                                            <button type="submit" class="btn btn-orange-sm" style="padding: 15px 30px;">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
        </div>
</section>