<section class="wrapper work-panel">
   <app-header></app-header>
   <app-sidebar></app-sidebar>
   <div class="work-block">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <ul class="breadcrumb custom-breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Flatmate Issues</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <button class="pull-right btn btn-orange-sm" (click)="addIssue();"><i class="fa fa-plus"></i>Add Issue</button>
            </div>
            <div class="col-12">
               <div class="card mb-5">
                  <div class="card-header">Flatmate Issues</div>
                  <div class="card-body pb-0">
                     <div class="row">
                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe" *ngFor="let issues of allIssues|paginate: { itemsPerPage: 9, currentPage: p }; let i = index">
                           <img src="{{image_base_url}}{{issues.issueId}}" class="img-responsive property-image">
                           <div class="cus-tital">
                             <p>Title : Title </p>
                              <p>Description : Description </p>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div *ngIf="isArrayLength">
                           <pagination-controls (pageChange)="p= $event"></pagination-controls>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
