<section class="wrapper work-panel">
   <app-header></app-header>
   <app-sidebar></app-sidebar>
   <div class="work-block">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <ul class="breadcrumb custom-breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Flatmate Issues</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <button class="pull-right btn btn-orange-sm" (click)="openAddIssueModal();"><i class="fa fa-plus"></i>&nbsp;Add Issue</button>
            </div>
            <div class="col-12">
               <div class="card mb-5">
                  <div class="card-header">Flatmate Issues</div>
                  <div class="card-body pb-0">
                     <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4" #messageContainer *ngFor = "let issue of allIssues">
                           <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                              <div class="mainflip">
                                 <div class="frontside">
                                    <div class="card">
                                       <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="{{image_base_url}}{{issue.photo}}" onerror="this.src='assets/images/no-image-available.png'"></p>
                                          <h4 class="card-title">{{issue?.title}}</h4>
                                          <p class="card-text">{{issue?.desc}}</p>
                                          <p><b>Team</b>:&nbsp;&nbsp;{{issue.team.name}} </p>
                                           <p><b>Added By</b>:&nbsp;&nbsp;{{ issue.login.username }}</p>
                                          <a title="Start thread on issue" href="javascript:void(0)" (click)="openIssueThread(issue)" class="btn btn-primary btn-sm"><i class="fa fa-comments"></i></a>
                                          <a title="Delete issue" href="javascript:void(0)" (click)="deleteIssueDailog(issue)" class="btn btn-primary btn-sm"><i class="fa fa-trash"></i></a>

                                       </div>
                                    </div>
                                 </div>




                                 <div class="backside">
                                    <div class="card">
                                       <div class="card-body text-center mt-4">
                                          <h4 class="card-title">{{issue?.title}}</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                          <ul class="list-inline">
                                             <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                                </a>
                                             </li>
                                             <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                                </a>
                                             </li>
                                             <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                                </a>
                                             </li>
                                             <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                                </a>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div *ngIf="allIssues.length=='0'" class="col-xs-12 col-sm-12 col-md-12" #messageContainer>
                           <p style="font-size:20px !important;" class="text-center text-danger">No issues uploaded</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Model for Add Isseu -->
<div class="container">
   <!-- The Modal -->
   <div class="modal cus-property" style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="isAddIssueModal ? 'block' : 'none'" *ngIf="isAddIssueModal" >
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Add Issue</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
         </div>
         <form [formGroup]="addIssueForm" (ngSubmit)="addIssue()" >   
         <!-- Modal body -->
         <div class="modal-body">
            <div class="form-group">
               <label>Title:</label>
               <input type="text" formControlName="title" class="form-control" [ngClass]="{'is-invalid': submitted && f.title.errors}" />
               <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="f.title.errors.required">Title is required.</span>
               </div>
            </div>

            <div class="form-group">
               <label for="team">Category<span class="validate-red">*</span></label>
               <select class="custom-select form-control" formControlName="category" id="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                  
                  <option value="" disabled>Please select one option</option>
                  <option value="1">Maintenance</option>
                  <option value="2">Flatmates issues</option>
                  <option value="3">Payment</option>
                  <option value="4">Neighbours</option>
                  
               </select>
               <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="f.category.errors.required">Category is required.</span>
               </div>
            </div>
                              
            <div class="form-group">
               <label>Description:</label>
               <textarea id="property_desc" class="form-control"rows="5" cols="5" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
               <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="f.description.errors.required">Description field is required.</span>
               </div>
            </div>
            <div class="form-group">
               <label>Upload Image:</label>
               <input type="file" class="form-control" formControlName="image" [ngClass]="{ 'is-invalid': submitted && f.image.errors }"  (change)="onSelectFile($event)" accept="image/*" >
               <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="f.image.errors.required">Property image is required.</span>
               </div>
               <img [src]="url" height="200" *ngIf="url !=''"> <br/>
            </div>
            <div class="form-group">
               <label for="team">Choose Team to Assign:</label>
               <angular2-multiselect [data]="dropdownList" 
               [settings]="dropdownSettings" 
               (onSelect)="onItemSelect($event)" 
               (onDeSelect)="OnItemDeSelect($event)"
               (onSelectAll)="onSelectAll($event)"
               (onDeSelectAll)="onDeSelectAll($event)"
               formControlName="team" [ngClass]="{ 'is-invalid': submitted && f.team.errors }">
               </angular2-multiselect>  
            </div>
            <div *ngIf="teamEmpty"  class="error-msg">          
               Please select Team Name.
            </div>
            <div class="form-group">
               <label for="assign_to">Assign To:</label>
               <angular2-multiselect [data]="userdropdownList" 
               [settings]="userdropdownSettings" 
               (onSelect)="onUserItemSelect($event)" 
               (onDeSelect)="OnUserItemDeSelect($event)"
               (onSelectAll)="onUserSelectAll($event)"
               (onDeSelectAll)="onUserDeSelectAll($event)"
               formControlName="assign_to" [ngClass]="{ 'is-invalid': submitted && f.assign_to.errors }">
               </angular2-multiselect>
            </div>
            <div *ngIf="userEmpty"  class="error-msg">  
               Please select Users to assign.
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-orange-sm">Yes, Add Issue</button>
         </div>
         </form> 
      </div>
   </div>
</div>
</div> 
<!-- Model for Add Isseu -->
<div class="container">
   <!-- The Modal -->
   <div class="modal cus-property" style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="isOpenthreadModal ? 'block' : 'none'" *ngIf="isOpenthreadModal" >
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Messages</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
         </div>
         <form [formGroup]="addIssueForm" (ngSubmit)="addIssue()" >   
         <!-- Modal body -->
         <div class="modal-body">
            <div class="panel-body">
               <ul class="chat" *ngFor="let message of threads,index as i">
                  <li class="left clearfix" *ngIf="message?.userId != logged_in_id">
                     <span class="chat-img pull-left">
                     <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header">
                           <strong class="primary-font">{{message.login.username}}</strong> <small class="pull-right text-muted">
                           <span class="glyphicon glyphicon-time"></span>{{message?.createdAt | date: 'H:mm | MMM dd'}}</small>
                        </div>
                        <p>
                           {{message?.message}}
                        </p>
                     </div>
                  </li>
                  <li class="right clearfix" *ngIf="message?.userId == logged_in_id">
                     <span class="chat-img pull-right">
                     <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header">
                           <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{message?.createdAt | date: 'H:mm | MMM dd'}}</small>
                           <strong class="pull-right primary-font">{{message.login.username}}</strong>
                        </div>
                        <p>
                           {{message?.message}}
                        </p>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
         <div class="modal-footer">
            <form [formGroup]="addIssueReplyForm" (ngSubmit)="addIssueReply()" class="custom-form"> 
            <div class="panel-footer">
               <div class="input-group">
                  <input id="btn-input" type="text" class="form-control input-sm" [ngClass]="{'is-invalid': submitted && g.message.errors}" placeholder="Type your message here..." formControlName="message"/>
                  <div *ngIf="submitted && g.message.errors" class="invalid-feedback">
                     <span class="for-sub-name" *ngIf="g.message.errors.required">Write something in text box.</span>
                  </div>
               </div>
               <input type="hidden" formControlName="issueId" />
            </div>
            <button type="submit" class="btn btn-orange-sm reply-btn">Reply</button>
            </form>
         </div>
         </form> 
      </div>
   </div>
</div>
</div>

<div class="container">
   <div class="modal" id="taskDel" [style.display]="deleteIssueModal ? 'block' : 'none'" *ngIf="deleteIssueModal" >
   <div class="modal-dialog modaldialog12">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Issue deletion</h4>
            <button type="button" class="close" aria-describedby="modal-title">
            <span aria-hidden="true" (click)="closeDeleteIssueModal(issueName)">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p><strong>Are you sure you want to delete <span class="text-primary">{{issueName}}</span> issue?</strong></p>
            <p>All information associated to this issue will be permanently deleted.
               <span class="text-danger">This operation can not be undone.</span>
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="closeDeleteIssueModal(issueName)">Cancel</button>
            <button type="button" class="btn btn-orange-sm" (click)="deleteIssue(issueId)">Yes,Delete It</button>
         </div>
      </div>
   </div>
</div>
</div>