<app-front-header></app-front-header>


<!---------- PRivacy policy start------------->

<section class="privecy-policy-main-banner">
    <div class="container">
        <div class="row">
            <div class="top-text-privacy-policy">
                <h1 class="hdg-main"> {{section1?.title| safeHtml}}</h1>
                <p [innerHTML]="section1?.content| safeHtml">  </p>
            </div>
        </div>
    </div>
</section>
<section class="definnition-policy-banner">
    <div class="container">
        <div class="row">
            <div class="top-heading-defintion">
                <h4 class="hdg-main">{{section2?.title| safeHtml}}</h4>
            </div>
            <div class="col-md-4">
              <div class="my-defintion-card">
                 <span class="top-icon-defintion">
                    <i class="fas fa-user-cog"></i>
                 </span>
                 <div class="mini-card-defintion">
                    <p [innerHTML]="section2?.content| safeHtml"></p>
                   
                 </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="my-defintion-card">
                 <span class="top-icon-defintion">
                    <i class="fas fa-user-cog"></i>
                 </span>
                 <div class="mini-card-defintion">
                    <p [innerHTML]="section17?.content| safeHtml"></p>
                 </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="my-defintion-card">
                 <span class="top-icon-defintion">
                    <i class="fas fa-user-cog"></i>
                 </span>
                 <div class="mini-card-defintion">
                    <p [innerHTML]="section18?.content| safeHtml"></p>
                 </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="my-defintion-card">
                 <span class="top-icon-defintion">
                    <i class="fas fa-user-cog"></i>
                 </span>
                 <div class="mini-card-defintion">
                    <p [innerHTML]="section19?.content| safeHtml"></p>
                 </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="my-defintion-card">
                 <span class="top-icon-defintion">
                    <i class="fas fa-user-cog"></i>
                 </span>
                 <div class="mini-card-defintion">
                    <p [innerHTML]="section20?.content| safeHtml"></p>
                 </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="my-defintion-card">
                 <span class="top-icon-defintion">
                    <i class="fas fa-user-cog"></i>
                 </span>
                 <div class="mini-card-defintion">
                    <p [innerHTML]="section21?.content| safeHtml"></p>
                 </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="my-defintion-card">
                 <span class="top-icon-defintion">
                    <i class="fas fa-user-cog"></i>
                 </span>
                 <div class="mini-card-defintion">
                    <p [innerHTML]="section22?.content| safeHtml"></p>
                 </div>
              </div>
            </div>
        </div>
    </div>
</section>
<section class="imformation-collection-banner">
    <div class="container">
        <div class="row">
            <div class="collaction-heading">
                <h4 class="hdg-main">{{section3?.title| safeHtml}}</h4>
                <p>{{section3?.subtitle}}</p>
            </div>
            <div class="data-collectted">
                <p [innerHTML]="section3?.content| safeHtml">                       
                </p>
            </div>
        </div>
    </div>
</section>
<section class="usedata-banner">
    <div class="container">
        <div class="row">
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section4?.title| safeHtml}}</h4>
                <p [innerHTML]="section4?.content| safeHtml"></p>
                
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section5?.title| safeHtml}}</h4>
                <p [innerHTML]="section5?.content| safeHtml"></p>
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section6?.title| safeHtml}}</h4>
                <p [innerHTML]="section6?.content| safeHtml"></p>
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section7?.title| safeHtml}}</h4>
                <p [innerHTML]="section7?.content| safeHtml"></p>
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section8?.title| safeHtml}}</h4>
                <p [innerHTML]="section8?.content| safeHtml"></p>
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section9?.title| safeHtml}}</h4>
                <p [innerHTML]="section9?.content| safeHtml"></p>
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section10?.title| safeHtml}}</h4>
                <p [innerHTML]="section10?.content| safeHtml"></p>
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section11?.title| safeHtml}}</h4>
                <p [innerHTML]="section11?.content| safeHtml"></p>
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section12?.title| safeHtml}}</h4>
                <p [innerHTML]="section12?.content| safeHtml"></p>
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section13?.title| safeHtml}}</h4>
                <p [innerHTML]="section13?.content| safeHtml"></p>
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section14?.title| safeHtml}}</h4>
                <p [innerHTML]="section14?.content| safeHtml"></p>
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section15?.title| safeHtml}}</h4>
                <p [innerHTML]="section15?.content| safeHtml"></p>
            </div>
            <div class="use-data-heading">
                <h4 class="hdg-main">{{section16?.title| safeHtml}}</h4>
                <p [innerHTML]="section16?.content| safeHtml"></p>
            </div>
        </div>
    </div>
</section>
<!---------- PRivacy policy end------------->


<app-front-footer></app-front-footer>


