<section class="wrapper work-panel">
   <app-header></app-header>
   <app-sidebar></app-sidebar>
   <div class="work-block">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <ul class="breadcrumb custom-breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">Customer Feedback</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <button class="pull-right btn btn-orange-sm" (click)="openFeedbackModal();"><i class="fa fa-plus"></i>Add FEEDBACK</button>
            </div>
            <div class="col-12">
               <div class="card mb-5">
                  <div class="card-header">Customer Feedback Listing</div>
                  <div class="card-body pb-0">
                     <div class="row">
                        <table class="table table-striped">
                           <thead>
                              <tr>
                                 <th scope="col">#</th>
                                 <th scope="col">Question</th>
                                 <th scope="col" style="width: 50%;">Description</th>
                                 <th scope="col">Status</th>
                                 <th scope="col">Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let feedback of feedbacks|paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                 <td scope="col">{{ i+1 }}</td>
                                 <td scope="col">{{ feedback?.title }}</td>
                                 <td [innerHTML]="feedback.description | safeHtml"></td>
                                 <td *ngIf="feedback.status=='1'" class="text-success">Active</td>
                                 <td *ngIf="feedback.status=='0'" class="text-danger">In-active</td>
                                 <td scope="col"> 
                                    <a  class="btn btn-orange-sm" href="javascript:void(0);" (click)="editfeedbackModal(feedback)"><i title="QuickEdit" class="fa fa-pencil" aria-hidden="true"></i></a> | 
                                    <a  class="btn btn-orange-sm" href="javascript:void(0);" (click)="deleteFeedbackModal(feedback)"><i title="Delete" class="fa fa-trash" aria-hidden="true"></i></a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <div *ngIf="feedbacksCount =='0'">
                            <p>No Content Available for  page.</p>
                       </div>
                     <div *ngIf="isArrayLength">
                        <pagination-controls (pageChange)="p= $event"></pagination-controls>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!----------- ADD Feedback MODEL START ---------------->
<div class="container">
   <!-- The Modal -->
   <div class="modal faqmodal"  style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="isOpen ? 'block' : 'none'" *ngIf="isOpen">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Add Feedback</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
         </div>
         <!-- Modal body -->
         <div class="modal-body">
            <form [formGroup]="feedbackForm" (ngSubmit)="addFeedback(feedbackForm.value)" >   
            <div class="form-group">
               <label>Title:</label>
               <input type="text" formControlName="title" class="form-control" [ngClass]="{'is-invalid': submitted && f.title.errors}" />
               <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="f.title.errors.required">title is required.</span>
               </div>
            </div>
            <div class="form-group">
               <label>Author Name:</label>
               <input type="text" formControlName="authorName" class="form-control" [ngClass]="{'is-invalid': submitted && f.authorName.errors}" />
               <div *ngIf="submitted && f.authorName.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="f.authorName.errors.required">authorName is required.</span>
               </div>
            </div>
            <div class="form-group">
               <label>Author Address:</label>
               <input type="text" formControlName="authorAddress" class="form-control" [ngClass]="{'is-invalid': submitted && f.authorAddress.errors}" />
               <div *ngIf="submitted && f.authorAddress.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="f.authorAddress.errors.required">authorAddress is required.</span>
               </div>
            </div>
            <div class="form-group">
               <label for="bill">Image</label>
               <input type="file" class="form-control-file border" accept="image/*" formControlName="image" (change)="detectFiles($event)" multiple>
               <div *ngIf="isImage">
                  <img *ngFor='let url of urls'  [src]="url" height="200"> <br/>
               </div>
               <br/>
            </div>
            <div class="form-group">
               <label for="team">Rating<span class="validate-red">*</span></label>
               <select class="custom-select form-control" formControlName="rating" id="rating" [ngClass]="{ 'is-invalid': submitted && f.rating.errors }">
                  <option value="" disabled>Please select one option</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
               </select>
               <div *ngIf="submitted && f.rating.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="f.rating.errors.required">Rating is required.</span>
               </div>
            </div>
            <div class="form-group">
               <label>Description:</label>
               <ckeditor [editor]="Editor" formControlName="description" data="
               <p>Hello, world!</p>
               " [ngClass]="{'is-invalid': submitted && f.description.errors}" ></ckeditor>
               <div *ngIf="descriptionEmpty"  class="for-sub-name default-error-message">Description is required.
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
               <button type="submit" class="btn btn-orange-sm">Yes, Add FEEDBACK</button>
            </div>
            </form>  
         </div>
      </div>
   </div>
</div>
</div> 
<!----------- ADD Feedback MODEL END ---------------->
<!----------- EDIT FAQ MODEL START ---------------->
<div class="container">
   <!-- The Modal -->
   <div class="modal faqmodal" style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="isOpenEdit ? 'block' : 'none'" *ngIf="isOpenEdit">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Edit Feedback</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="closeEditModal()">&times;</button>
         </div>
         <!-- Modal body -->
         <div class="modal-body">
            <form [formGroup]="updatefeedbackForm" (ngSubmit)="updateFeedback(updatefeedbackForm.value)" >   
            <div class="form-group">
               <label>Title:</label>
               <input type="text" formControlName="title" class="form-control" [ngClass]="{'is-invalid': submitted && g.title.errors}" />
               <div *ngIf="submitted && g.title.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="g.title.errors.required">title is required.</span>
               </div>
            </div>
            <div class="form-group">
               <label>Author Name:</label>
               <input type="text" formControlName="authorName" class="form-control" [ngClass]="{'is-invalid': submitted && g.authorName.errors}" />
               <div *ngIf="submitted && g.authorName.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="g.authorName.errors.required">authorName is required.</span>
               </div>
            </div>
            <div class="form-group">
               <label>Author Address:</label>
               <input type="text" formControlName="authorAddress" class="form-control" [ngClass]="{'is-invalid': submitted && g.authorAddress.errors}" />
               <div *ngIf="submitted && g.authorAddress.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="g.authorAddress.errors.required">authorAddress is required.</span>
               </div>
            </div>
            <div class="form-group">
               <label for="bill">Image</label>
               <input type="file" class="form-control-file border" accept="image/*" formControlName="image" (change)="detectFiles($event)" multiple>
               <div *ngIf="isImage">
                  <img *ngFor='let url of urls'  [src]="url" height="200"> <br/>
               </div>
                <img  class="pull-right" [src]="image_url" height="50" width="50" onError="this.src='assets/images/user.png';"  alt="user" > 
               <br/>
            </div>
            <div class="form-group">
               <label for="team">Rating<span class="validate-red">*</span></label>
               <select class="custom-select form-control" formControlName="rating" id="rating" [ngClass]="{ 'is-invalid': submitted && g.rating.errors }">
                  <option value="" disabled>Please select one option</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
               </select>
               <div *ngIf="submitted && g.rating.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="g.rating.errors.required">Rating is required.</span>
               </div>
            </div>
            <div class="form-group">
               <label>Description:</label>
               <ckeditor [editor]="Editor" formControlName="description" data="
               <p>Hello, world!</p>
               " [ngClass]="{'is-invalid': submitted && g.description.errors}" ></ckeditor>
               <div *ngIf="descriptionEmpty"  class="for-sub-name default-error-message">Description is required.
               </div>
            </div>
            <div class="form-group">
               <label for="team">Status<span class="validate-red">*</span></label>
               <select class="custom-select form-control" formControlName="status" id="rating" [ngClass]="{ 'is-invalid': submitted && g.status.errors }">
                  <option value="" disabled>Please select one option</option>
                  <option value="1">Active</option>
                  <option value="0">InActive</option>
            
                 
               </select>
               <div *ngIf="submitted && g.status.errors" class="invalid-feedback">
                  <span class="for-sub-name" *ngIf="g.status.errors.required">Rating is required.</span>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
               <button type="submit" class="btn btn-orange-sm">Yes, Update</button>
            </div>
            </form>  
         </div>
      </div>
   </div>
</div>
</div> 
<!----------- EDIT FAQ MODEL END ---------------->

<!---  Modal to delete TASK  -->
<div class="container">
   <!-- The Modal -->
   <div class="modal" id="taskDel" [style.display]="isDelfeedback ? 'block' : 'none'" *ngIf="isDelfeedback" >
   <div class="modal-dialog modaldialog12">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Feedback deletion</h4>
            <button type="button" class="close" aria-describedby="modal-title">
            <span aria-hidden="true" (click)="closeDelModal()">&times;</span>
            </button>
         </div>
         <!-- Modal body -->
         <div class="modal-body">
            <p><strong>Are you sure you want to delete <span class="text-primary"></span> feedback?</strong></p>
            <p>All information associated to this feedback will be permanently deleted.
               <span class="text-danger">This operation can not be undone.</span>
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="closeDelModal()">Cancel</button>
            <button type="button" class="btn btn-orange-sm" (click)="deleteFeedback(feedbackId)">Yes,Delete It</button>
         </div>
      </div>
   </div>
</div>
</div>