<div class="sidebar">
	<div class="side-logo">
		<a class="logo-link" href="">
			<img src="assets/images/Logo-colive.png">
		</a>
	</div>
	
	<ul class="nav">
		<li class="active">
			<a href="dashboard.html">
				<i class="fas fa-tachometer-alt"></i>
				<p>Dashboard</p>
			</a>
		</li>
	  
		<li>
			<a href="create-bill.html">
				<i class="far fa-money-bill-alt"></i>
				<p>house expenses</p>
			</a>
		</li>
	  
		<!-- <li>
			<a href="">
				<i class="fas fa-broom"></i>
				<p>House Cleaning</p>
			</a>
		</li> -->
		
		<li>
			<a href="dashboard-cleaning.html">
				<i class="far fa-calendar-alt"></i>
				<p>house chores</p>
			</a>
		</li>
	  
	</ul>
</div>