<div class="sidebar">
	<span class="sidebar-close" (click)="toggleClassOnImageClick(this.status)">
		<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		viewBox="0 0 409.806 409.806" style="enable-background:new 0 0 409.806 409.806;" xml:space="preserve">
		<g>
			<g>
				<path d="M228.929,205.01L404.596,29.343c6.78-6.548,6.968-17.352,0.42-24.132c-6.548-6.78-17.352-6.968-24.132-0.42
				c-0.142,0.137-0.282,0.277-0.42,0.42L204.796,180.878L29.129,5.21c-6.78-6.548-17.584-6.36-24.132,0.42
				c-6.388,6.614-6.388,17.099,0,23.713L180.664,205.01L4.997,380.677c-6.663,6.664-6.663,17.468,0,24.132
				c6.664,6.662,17.468,6.662,24.132,0l175.667-175.667l175.667,175.667c6.78,6.548,17.584,6.36,24.132-0.42
				c6.387-6.614,6.387-17.099,0-23.712L228.929,205.01z"/>
			</g>
		</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g>
		</g><g></g><g></g><g></g>

	</svg>

</span>

<div class="side-logo">
	<a class="logo-link" href="">
		<img src="assets/images/Logo-colive.png">
	</a>
</div>
<ul class="nav">
	<li routerLinkActive="active" [class.active]="isMyAccount == true" *ngIf="roleId=='3'">
		<a routerLink="/dashboard" routerLinkActive="active-link">
			<i class="fas fa-tachometer-alt"></i>
			<p>Dashboard</p>
		</a>
	</li>
	<li routerLinkActive="active" *ngIf="roleId=='3'">
		<a routerLink="/profile" routerLinkActive="active-link">
			<i class="fas fa-address-book"></i>
			<p>My Account</p>
		</a>
	</li>
	<li routerLinkActive="active" *ngIf="roleId=='3'">
		<a routerLink="/properties" routerLinkActive="active-link">
			<i class="fas fa-globe"></i>
			<p>Property</p>
		</a>
	</li>
		<!-- <li routerLinkActive="active" [class.active]="isHouse == true">
		   <a routerLink="/house-chores" routerLinkActive="active-link">
			    <i class="fas fa-home"></i>
			      <p>House Chores</p>
			</a>
		</li> -->
		<!-- <li routerLinkActive="active">
			<a routerLink="/split-bill" routerLinkActive="active-link">
				<i class="fas fa-usd"></i>
				<p>Split House Expenses</p>
			</a>
		</li> -->
	<!-- 	<li routerLinkActive="active">
			<a routerLink="/booking"  routerLinkActive="active-link">
				<i class="far fa-calendar-alt"></i>
				<p>Booking</p>
			</a>
		</li> -->
		<li routerLinkActive="active" *ngIf="roleId=='3'">
			<a routerLink="/team-group"  routerLinkActive="active-link">
				<i class="fas fa-users"></i>
				<p>Team Group</p>
			</a>
		</li>
		<li routerLinkActive="active" *ngIf="roleId=='3'">
			<a routerLink="/flatmate-issues"  routerLinkActive="active-link">
				<i class="far fa fa-flask"></i>
				<p>Flatmate Issues</p>
			</a>
		</li>
		<!-- <li routerLinkActive="active">
			<a routerLink="/refer-a-friend"  routerLinkActive="active-link">
				<i class="fas  fa-share"></i>
				<p>Refer a friend</p>
			</a>
		</li> -->
		<!-- <li routerLinkActive="active">
			<a routerLink="/settings"  routerLinkActive="active-link">
				<i class="far fa fa-cog"></i>
				<p>Settings</p>
			</a>
		</li> -->
		<li routerLinkActive="active" *ngIf="roleId=='1'">
			<a routerLink="/admin/dashboard"  routerLinkActive="active-link">
				<i class="fas fa-tachometer-alt"></i>
				<p>Dashboard</p>
			</a>
		</li>
		<li routerLinkActive="active" *ngIf="roleId=='1'">
			<a routerLink="/admin/pages"  routerLinkActive="active-link">
				<i class="material-icons">pages</i>
				<p>Pages</p>
			</a>
		</li>
	<!-- 	<li routerLinkActive="active" *ngIf="roleId=='1'">
			<a routerLink="/admin/home-page-content"  routerLinkActive="active-link">
				<i class="material-icons">home</i>
				<p>Home Page Content</p>
			</a>
		</li>
	   <li routerLinkActive="active" *ngIf="roleId=='1'">
			<a routerLink="/admin/faq-page-content"  routerLinkActive="active-link">
				<i class="material-icons">question_answer</i>
				<p>FAQ Content</p>
			</a>
		</li>
		<li routerLinkActive="active" *ngIf="roleId=='1'">
			<a routerLink="/admin/site-config"  routerLinkActive="active-link">
				<i class="material-icons">settings</i>
				<p>Site Config</p>
			</a>
		</li> -->
	</ul>
</div>


<div class="mobile-side-bar">
	<div class="top-side-logo">
		<img class="money-side" src="assets/images/Logo-colive.png">
	</div>
	<ul>
		<li routerLinkActive="active">
			<a routerLink="/settings" routerLinkActive="active-link">
				<i class="fas fa-tachometer-alt"></i>
				<span class="span-tog">Dashboard</span>
			</a>
		</li>
		<li routerLinkActive="active">
			<a routerLink="/profile" routerLinkActive="active-link">
				<i class="fas fa-address-book"></i>
				<span class="span-tog">My Account</span>
			</a>
		</li>
		<li routerLinkActive="active">
			<a routerLink="/properties" routerLinkActive="active-link">
				<i class="fas fa-globe"></i>
				<span class="span-tog">Property</span>
			</a>
		</li>
		<!-- <li routerLinkActive="active">
			<a routerLink="/house-chores" routerLinkActive="active-link">
				<i class="fas fa-home"></i>
				<span class="span-tog">House Chores</span>
			</a>
		</li> -->
		<!-- <li routerLinkActive="active">
			<a routerLink="/split-bill" routerLinkActive="active-link">
				<i class="fas fa-usd"></i>
				<span class="span-tog">Split House Expenses</span>
			</a>
		</li>
		<li routerLinkActive="active">
			<a routerLink="/booking" routerLinkActive="active-link">
				<i class="far fa-calendar-alt"></i>
				<span class="span-tog">Booking</span>
			</a>
		</li> -->
		<li routerLinkActive="active">
			<a routerLink="/team-group" routerLinkActive="active-link">
				<i class="fas fa-users"></i>
				<span class="span-tog">Team Group</span>
			</a>
		</li>
		<li routerLinkActive="active">
			<a routerLink="/flatmate-issues" routerLinkActive="active-link">
				<i class="far fa fa-flask"></i>
				<span class="span-tog">Flatmate Issues</span>
			</a>
		</li>
		<!-- <li routerLinkActive="active">
			<a routerLink="/refer-a-friend" routerLinkActive="active-link">
				<i class="fas fa-share"></i>
				<span class="span-tog">Refer a friend</span>
			</a>
		</li>
		<li routerLinkActive="active">
			<a routerLink="/settings" routerLinkActive="active-link">
				<i class="fas fa fa-cog"></i>
				<span class="span-tog">Settings</span>
			</a>
		</li> -->
	</ul>
</div>