<div class="sidebar">
	<div class="side-logo">
		<a class="logo-link" routerLink="/">
			<img src="assets/images/Logo-colive.png">
		</a>
	</div>
	
	<ul class="nav">
		<li class="active">
			<a routerLink="/dashboard">
				<i class="fas fa-tachometer-alt"></i>
				<p>Dashboard</p>
			</a>
		</li>
	  
		<li>
			<a routerLink="/dashboard">
				<i class="far fa-money-bill-alt"></i>
				<p>house expenses</p>
			</a>
		</li>
	  
		<li>
			<a routerLink="/split-bill">
				<i class="fas fa-broom"></i>
				<p>Split Bill</p>
			</a>
		</li>
		
		<li>
			<a routerLink="/house-chores">
				<i class="far fa-calendar-alt"></i>
				<p>house chores</p>
			</a>
		</li>
	  
	</ul>
</div>