<section class="wrapper work-panel">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="work-block">
       <div class="container">
          <div class="row">
             <div class="col-12">
                <ul class="breadcrumb custom-breadcrumb">
                   <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                   <li class="breadcrumb-item active">FEEDBACK</li>
                </ul>
             </div>
          </div>
          <div class="row">
             <div class="col-12">
                <button class="pull-right btn btn-orange-sm" (click)="openAddCategoryModal();"><i class="fa fa-plus"></i>Add FEEDBACK</button>
             </div>
             <div class="col-12">
                <div class="card mb-5">
                   <div class="card-header">FEEDBACK Listing</div>
                   <div class="card-body pb-0">
                      <div class="row">
 
                        <table class="table table-striped">
                         <thead>
                            <tr>
                               <th scope="col">#</th>
                               <th scope="col">Title</th>
                               <th scope="col">Author Name</th>
                               <th scope="col">Author Address</th>
                               <th scope="col">Rating</th>
                               <th scope="col">Description</th>
                               <th scope="col">Action</th>

                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let feed of feedbackList|paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                               <th scope="row">{{ i+1}}</th>
                               <td>{{ feed?.title }}</td>
                               <td [innerHTML]="feed.authername"></td>
                               <td [innerHTML]="feed.autheraddress"></td>
                               <td [innerHTML]="feed.rating"></td>
                               <td [innerHTML]="feed.description"></td>
                               <td>Action</td>

                          </tr>
                       </tbody>
                    </table>
                      
                      <div *ngIf="isArrayLength">
                         <pagination-controls (pageChange)="p= $event"></pagination-controls>
                      </div>
 
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
 </div>
 </section>
 <!----------- ADD FEEDBACK MODEL START ---------------->
 <div class="container">
    <!-- The Modal -->
    <div class="modal faqmodal"  style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="modelOpen ? 'block' : 'none'" *ngIf="modelOpen">
       <div class="modal-dialog">
          <div class="modal-content fedback">
             <!-- Modal Header -->
             <div class="modal-header">
                <h4 class="modal-title">Add FEEDBACK</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
             </div>
             <!-- Modal body -->
             <div class="modal-body">
                <form [formGroup]="fbform" (ngSubmit)="addFeedback(fbform.value)" >   
                   <div class="form-group">
                      <label>Title:</label>
                      <input type="text" formControlName="title" class="form-control" [ngClass]="{'is-invalid': submitted && f.title.errors}" />
                      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                         <span class="for-sub-name" *ngIf="f.title.errors.required">title is required.</span>
                      </div>
                   
                   </div>
                   <div class="form-group">
                     <label>Author Name:</label>
                     <input type="text" formControlName="authorName" class="form-control" [ngClass]="{'is-invalid': submitted && f.authorName.errors}" />
                     <div *ngIf="submitted && f.authorName.errors" class="invalid-feedback">
                        <span class="for-sub-name" *ngIf="f.authorName.errors.required">authorName is required.</span>
                     </div>
                  
                  </div>
                  <div class="form-group">
                     <label>Author Address:</label>
                     <input type="text" formControlName="authorAddress" class="form-control" [ngClass]="{'is-invalid': submitted && f.authorAddress.errors}" />
                     <div *ngIf="submitted && f.authorAddress.errors" class="invalid-feedback">
                        <span class="for-sub-name" *ngIf="f.authorAddress.errors.required">authorAddress is required.</span>
                     </div>
                  
                  </div>
                     <div class="form-group">
                        <label for="bill">Upload Image</label>
                        <input type='file' (change)="onSelectFile($event)">
                        <div *ngIf="imageEmpty"  class="for-sub-name default-error-message"> Image is required.
                        </div>
                        <img  [src]="url" height="200"> <br/>
                     </div>
                  <div class="form-group">
                     <label>Rating:</label>
                     <input type="text" formControlName="rating" class="form-control" [ngClass]="{'is-invalid': submitted && f.rating.errors}" />
                     <div *ngIf="submitted && f.rating.errors" class="invalid-feedback">
                        <span class="for-sub-name" *ngIf="f.rating.errors.required">rating is required.</span>
                     </div>
                  
                  </div>
                  <div class="form-group">
                     <label>Description:</label>
                     <input type="text" formControlName="description" class="form-control" [ngClass]="{'is-invalid': submitted && f.description.errors}" />
                     <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <span class="for-sub-name" *ngIf="f.description.errors.required">description is required.</span>
                     </div>
                  
                  </div>
                 
                   <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
                      <button type="submit" class="btn btn-orange-sm">Yes, Add FEEDBACK</button>
                   </div>
                </form> 
             </div>
          </div>
       </div>
    </div>
 </div> 
 <!----------- ADD FAQ MODEL END ---------------->
 
 <!----------- EDIT FAQ MODEL START ---------------->
 <div class="container">
    <!-- The Modal -->
    <div class="modal faqmodal" style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="isopenEditFaqModal ? 'block' : 'none'" *ngIf="isopenEditFaqModal">
       <div class="modal-dialog">
          <div class="modal-content">
             <!-- Modal Header -->
             <div class="modal-header">
                <h4 class="modal-title">Edit FAQ</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeEditModal()">&times;</button>
             </div>
             <!-- Modal body -->
             <div class="modal-body">
               <form [formGroup]="updateFaqForm" (ngSubmit)="updateFaq(updateFaqForm.value)" >   
                <div class="form-group">
                   <label>Question:</label>
                   <input type="text" formControlName="question" class="form-control" [ngClass]="{'is-invalid': submitted && g.question.errors}" />
                   <div *ngIf="submitted && g.question.errors" class="invalid-feedback">
                      <span class="for-sub-name" *ngIf="g.question.errors.required">Question is required.</span>
                   </div>
                   <div *ngIf="isalreadyEixst" class="default-error-message"> {{isalreadyEixstErr}}
                   </div>
                </div>
                
                <ckeditor [editor]="Editor" formControlName="description" data="<p>Hello, world!</p>" [ngClass]="{'is-invalid': submitted && g.description.errors}" ></ckeditor>
                <div *ngIf="descriptionEmpty"  class="for-sub-name default-error-message">Description is required.
                </div>
                 <div class="form-group">
                   <label for="team">Status<span class="validate-red">*</span></label>
                   <select class="custom-select form-control" formControlName="status" id="status" [ngClass]="{ 'is-invalid': submitted && g.status.errors }">
                      <option value="" disabled>Please select one option</option>
                      <option value="1">Active</option>
                      <option value="0">Inactive</option>
                   </select>
                   <div *ngIf="submitted && g.status.errors.required" class="invalid-feedback">
                      <span class="for-sub-name" *ngIf="g.status.errors.required">Status field is required.</span>
                   </div>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-outline-secondary" (click)="closeEditModal()">Cancel</button>
                   <button type="submit" class="btn btn-orange-sm">Yes, Add FAQ</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
 </div> 
 <!----------- EDIT FAQ MODEL END ---------------->
 
 <!---  Modal to delete TASK  -->
 <div class="container">
    <!-- The Modal -->
    <div class="modal" id="taskDel" [style.display]="isDelFaq ? 'block' : 'none'" *ngIf="isDelFaq" >
    <div class="modal-dialog modaldialog12">
       <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
             <h4 class="modal-title" id="modal-title">Faq deletion</h4>
             <button type="button" class="close" aria-describedby="modal-title">
             <span aria-hidden="true" (click)="closeDelModal()">&times;</span>
             </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
             <p><strong>Are you sure you want to delete <span class="text-primary"></span> faq?</strong></p>
             <p>All information associated to this category will be permanently deleted.
                <span class="text-danger">This operation can not be undone.</span>
             </p>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-outline-secondary" (click)="closeDelModal()">Cancel</button>
             <button type="button" class="btn btn-orange-sm" (click)="deleteFaq(faqId)">Yes,Delete It</button>
          </div>
       </div>
    </div>
 </div>
 </div>