<div class="dash-header">
	<div class="left-blk">
		<span class="page-name">
			
			<img (click)="toggleClassOnImageClick(this.status)"  class="TOG" src="/assets/images/menu-button.png">
			
			<p>Dashboard</p>
		</span>
	</div>
	<div class="right-blk">
			
		<!-- 	<mat-icon matBadge="{{badgeNumber}}" matBadgePosition="above after" [matMenuTriggerFor]="menu">notification_important
				</mat-icon>
				<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="teamInfo('Tadd34169-2882-4cd3-9c17-0a9bc5cb92a7')">
						  <mat-icon >navigate_next</mat-icon>
						  <span>Team 1 invited you</span>
						</button>
						<button mat-menu-item (click)="teamInfo('T0270ce69-811c-4055-a335-bc1a369a3ca6')">
								<mat-icon>navigate_next</mat-icon>
								<span>Team 2 invited you</span>
						</button>
				</mat-menu> -->
			
		<!-- <div class="parts">
			<button type="submit" class="btn btn-orange-sm" routerLink="/profile">My Account</button>
		</div> -->
		
		<!-- <div class="parts">
			<img class="money" src="assets/images/Logo-colive.png">
			<span class="balance">€ 0.00</span>
		</div> -->
	
		<div class="parts profile-drop">
			<span class="dd-parent">
				<img class="money2" src="{{image_url}}" onError="this.src='assets/images/no-image-available.png';"  alt="user"/>
				<img class="menu-arrow" src="assets/images/drop.png" />
			</span>		
			<div class="profile-menu">
				<a routerLink="/profile" class="">My Account</a>
				<a href="javascript:void(0)" (click)="changePasswordModal()">Change Password</a>
				<a href="javascript:void(0)" class="">Help</a>
				<a href="javascript:void(0)" (click)="systemLogout($event)" class="">Logout</a>
			</div>
		</div>
	</div>
</div>
<div class="container">				
				<!-- The Modal -->
				<div class="modal" style="display: block; background-color: rgba(0, 0, 0, 0.32); z-index: 111111;" [style.display]="isChangePassword ? 'block' : 'none'" *ngIf="isChangePassword">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Change Password</h4>
								<button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
							</div>

							<!-- Modal body -->
							<div class="modal-body">
								<p><strong>{{firstName}}&nbsp;{{lastName}}<span class="text-primary"></span></strong>&nbsp;are you sure you want to change the password?</p>
								<form [formGroup]="ConPass" (ngSubmit)="onSubmit(ConPass.value)" >	
								<div class="form-group">
										<label>Current Password:</label>
										<input type="password" formControlName="cuPass" class="form-control" [ngClass]="{'is-invalid': submitted && f.cuPass.errors}" />
										<div *ngIf="submitted && f.cuPass.errors" class="invalid-feedback">
											<div *ngIf="f.cuPass.errors.required">Current password is required. </div>
											<div *ngIf="f.cuPass.errors.minlength">Current password must be at least 6 characters.</div>
										</div>
									</div>								
									<div class="form-group">
										<label>New Password</label>
										<input type="password" formControlName="pwd" class="form-control" [ngClass]="{'is-invalid': submitted && f.pwd.errors}" />
										<div *ngIf="submitted && f.pwd.errors" class="invalid-feedback">
											<div *ngIf="f.pwd.errors.required">New password is required. </div>
											<div *ngIf="f.pwd.errors.minlength">New password must be at least 6 characters.</div>
										</div>
									</div>
									<div class="form-group">
										<label>Confirm Password:</label>
										<input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
										<div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
											<div *ngIf="f.confirmPassword.errors.required">Confirm Password is required.</div>
											<div *ngIf="f.confirmPassword.errors.mustMatch">Confirm Password must match.</div>
										</div>
									</div>                       
									
									  <div class="modal-footer">
							            <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
							            <button type="submit" class="btn btn-orange-sm">Yes,Update It</button>
							         </div>									
								</form> 
							</div>
						</div>
					</div>
				</div>
			</div>	