<div class="dash-header">
	<div class="left-blk">
		<span class="page-name">
			<p>Dashboard</p>
		</span>
	</div>
	<div class="right-blk">
		<div class="parts">
			<button type="submit" class="btn btn-orange-sm" routerLink="/create-bill">Create Bill</button>
		</div>
		
		<div class="parts">
			<button type="submit" class="btn btn-orange-sm">Expenses</button>
		</div>
		
		<div class="parts">
			<img class="money" src="assets/images/money.png">
			<span class="balance">1,667.50 INR</span>
		</div>
		
		<div class="parts profile-drop">
			<span class="dd-parent">
				<img class="money2" src="{{images}}" onError="this.src='assets/images/user.png';"  alt="user"/>
				<img class="ovel1" *ngIf="image_url ==''" src="assets/images/Oval2.png" />
				<img class="menu-arrow" src="assets/images/drop.png" />
			</span>		
			<div class="profile-menu">
				<a routerLink="/my-account" class="">My Account</a>
				<a href="javascript:void(0)" class="">Help</a>
				<a href="javascript:void(0)" (click)="systemLogout($event)" class="">LogOut</a>
			</div>
		</div>
	</div>
</div>