<section class="wrapper work-panel">
   <app-header></app-header>
   <app-sidebar></app-sidebar>
   <div class="work-block">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <ul class="breadcrumb custom-breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">Site Config</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="card mb-5">
                  <div class="card-header">Site Config</div>
                  <div class="card-body pb-0">
                     <form [formGroup]="siteConfigForm" (ngSubmit)="siteConfig(siteConfigForm.value)">
                     <div class="row">
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Email Address<span class="validate-red">*</span></label>
                              <input type="email" class="form-control" placeholder="Email Address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.email.errors.required">Email is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Facebook Link</label>
                              <input type="text" class="form-control" placeholder="Facebook Link" formControlName="fbsociallink" [ngClass]="{ 'is-invalid': submitted && f.fbsociallink.errors }" >
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Instagram Link</label>
                              <input type="text" class="form-control" placeholder="Instagram Link" formControlName="instasociallink" [ngClass]="{ 'is-invalid': submitted && f.instasociallink.errors }" >
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">Twitter Link</label>
                              <input type="text" class="form-control" placeholder="Twitter Link" formControlName="twittersociallink" [ngClass]="{ 'is-invalid': submitted && f.twittersociallink.errors }" >
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="team">LinkedIn Link</label>
                              <input type="text" class="form-control" placeholder="LinkedIn Link" formControlName="linksociallink" [ngClass]="{ 'is-invalid': submitted && f.linksociallink.errors }" >
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="bill">Upload image<span class="validate-red">*</span></label>
                              <input type="file" class="form-control-file border" accept="image/*" formControlName="image" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" (change)="detectFiles($event)">
                              <img *ngIf="isImage==true" class="pull-right" [src]="image_url" height="50" width="50" onError="this.src='assets/images/user.png';"  alt="user" > 
                              

                              <br/>

                           </div>
                        </div>
                        <div class="col-12 col-sm-12">
                           <div class="form-group">
                              <label for="team">Address<span class="validate-red">*</span></label>
                              <textarea id="notes" class="form-control"rows="5" cols="5" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
                              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.address.errors.required">Address field is required.</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-12">
                           <div class="form-group">
                              <label for="team">Footer Content</label>
                              <input type="text" class="form-control" placeholder="Twitter Link" formControlName="copyright" [ngClass]="{ 'is-invalid': submitted && f.copyright.errors }" >
                               <div *ngIf="submitted && f.copyright.errors" class="invalid-feedback">
                                 <span class="for-sub-name" *ngIf="f.copyright.errors.required">Footer content is required.</span>
                              </div>
                           </div>
                        </div>

                        <div class="col-12 col-sm-12 text-center">
                           <button type="submit" class="btn btn-orange-sm my-btn-sube" style="padding: 15px 30px;">Submit</button>
                        </div>
                     </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>