<section class="wrapper work-panel">
	<app-header></app-header>
	<app-sidebar></app-sidebar>
	<div class="work-block">
		<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <label class="hoverable" for="fileInput">
                  <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
                     <div class="hover-text">Choose file</div>
                      <div class="background"></div> 
                </label>
                <br/>
                <input id="fileInput" type='file' (change)="onSelectFile($event)">
               <!--  <button *ngIf="url" (click)="delete()" >delete</button> -->
                <!-- <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                </div>
            </div> -->
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>Kshiti Ghelani</h5>
                <h6>Web Developer and Designer</h6>
                <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="col-md-2">
               <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
           </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a>                    
                    <p>SKILLS</p>
                    <a href="">Web Designer</a>
                    <br/>
                    <a href="">Web Developer</a>
                    <br/>
                    <a href="">WordPress</a>
                    <br/>
                    <a href="">WooCommerce</a>
                    <br/>
                    <a href="">PHP, .Net</a>
                    <br/>
                </div>
            </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" *ngIf="profiles">
                    <div class="row">
                        <div class="col-md-6">
                            <label>First Name:</label>
                        </div>
                    <div class="col-md-6">
                            <p>{{profiles.firstName}}</p>
                    </div>                            
                    </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Last Name:</label>
                        </div>
                    <div class="col-md-6">
                            <p>{{profiles.lastName}}</p>
                    </div>                            
                    </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Email:</label>
                        </div> 
                    <div class="col-md-6">
                            <p>{{profiles.email}}</p>
                    </div>                           
                    </div>
                <div class="row">
                        <div class="col-md-6">
                            <label>Username:</label>
                        </div> 
                         <div class="col-md-6">
                            <p>{{profiles.userId}}</p>
                    </div>   

                    </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Date Of Birth:</label>
                        </div>
                    <div class="col-md-6">
                            <p>{{profiles.dob}}</p>
                    </div>                           
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Occupation/Timetable:</label>
                        </div>
                    <div class="col-md-6">
                            <p>{{profiles.occuptation_tt}}</p>
                    </div>                           
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>What would be your typical get up time during the week days:</label>
                        </div>
                    <div class="col-md-6">
                            <p>{{profiles.wakeup_time}}</p>
                    </div>                           
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Day of moving in/out:</label>
                        </div> 
                    <div class="col-md-6">
                            <p>{{profiles.outing_day}}</p>
                    </div>                          
                </div>
              <!--   <div class="row">
                    <div class="col-md-6">
                            <label>Maximun Price:</label>
                        </div>
                    <div class="col-md-6">
                            <p>{{profiles.maximunPrice}}</p>
                    </div>                          
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Minimum Price:</label>
                        </div> 
                    <div class="col-md-6">
                            <p>{{profiles.minimumPrice}}</p>
                    </div>                     
                </div> -->
                <div class="row">
                    <div class="col-md-6">
                            <label>How long willing to stay:</label>
                        </div>
                    <div class="col-md-6">
                            <p>{{profiles.stay_date}}</p>
                    </div>                         
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Gender:</label>
                        </div> 
                    <div class="col-md-6">
                            <p>{{profiles.gender}}</p>
                    </div>                         
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Phone Number:</label>
                        </div>
                     <div class="col-md-6">
                            <p>{{profiles.phoneNo}}</p>
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Address:</label>
                        </div> 
                     <div class="col-md-6">
                            <p>{{profiles.address}}</p>
                    </div>                      
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Work Place:</label>
                        </div>
                     <div class="col-md-6">
                            <p>{{profiles.work_place}}</p>
                    </div>                         
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Postal Code:</label>
                        </div>
                     <div class="col-md-6">
                            <p>{{profiles.postalCode}}</p>
                    </div>                       
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Country:</label>
                        </div> 
                     <div class="col-md-6">
                            <p>{{profiles.country}}</p>
                    </div>                        
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Language:</label>
                        </div>
                    <div class="col-md-6">
                            <p>{{profiles.languages_map}}</p>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Nationality:</label>
                        </div>
                    <div class="col-md-6">
                            <p>{{profiles.nationality_map}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Short bio:</label>
                        </div> 
                    <div class="col-md-6">
                            <p>{{profiles.biography}}</p>
                    </div>                  
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Interests:}</label>
                        </div>
                     <div class="col-md-6">
                            <p>{{profiles.interestes}}</p>
                    </div>                      
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <label>Habits:</label>
                        </div> 
                     <div class="col-md-6">
                            <p>{{profiles.habits}}</p>
                    </div>                     
                </div>
            <!--     <div class="row">
                    <div class="col-md-6">
                            <label>Upload Image:</label>
                        </div> 
                     <div class="col-md-6">
                            <p>{{profiles.image}}</p>
                    </div>                    
                </div> -->
                </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                           <label>Experience</label>
                        </div>
                    <div class="col-md-6">
                            <p>Expert</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                             <label>Hourly Rate</label>
                        </div>
                    <div class="col-md-6">
                             <p>10$/hr</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                              <label>Total Projects</label>
                        </div>
                    <div class="col-md-6">
                              <p>230</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                               <label>English Level</label>
                        </div>
                    <div class="col-md-6">
                               <p>Expert</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                               <label>Availability</label>
                        </div>
                    <div class="col-md-6">
                               <p>6 months</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                                <label>Your Bio</label>
                                <br/>
                                <p>Your detail description</p>
                        </div>
                    </div>
                    </div> 
                </div>
            </div>
        </div>
    </form>
</div>
	</div>
</section>