	<section class="login-block cus-forgot">
		<div class="block-inner">
			<div class="container">
				<div class="row">
					<div class="col-md-9 m-auto">
						<div class="row">
							<div class="col-md-12 col-lg-5 left-side">
								<div class="left-inner">
									<a class="for-login-logo" routerLink="/">
										<img src="assets/images/Logo-colive.png" />
									</a>
									<!-- <p class="des">Login using social media to get quick access</p> -->
									
									<div class="row social-buttons">
									</div>
									
								</div>
							</div>
							<div class="col-md-12 col-lg-7 right-side">
								<ul class="for-login-tabs">
									<li>
										<a class="active" routerLink="/login">FORGOT  PASSWORD</a>
									</li>
									
								</ul>

								<div class="form-content">
									<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
										<div class="form-group form-parts">
											<input type="text" class="form-control" placeholder="Enter your username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" formControlName="username" required>
											<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
											<div *ngIf="f.username.errors.required">
													Username is required.
												</div>
											</div>
											<div *ngIf="isError == true" >
                                              <span class="for-sub-name">{{errorsArr?.username}}</span>
                                              </div>
										</div>
									
										<div class="form-group">
											<div class="row">
												<div class="col-6 remember">
													
												</div>
												<div class="col-6 forgot">
											 		<a href="javascript:void()" (click)="navigate()">Sign-In</a>
											 	</div>
											</div>
										</div>
										<div class="row">
											<button type="submit" class="btn btn-orange">Send Instructions</button>
										</div>
									</form>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	