    <div class="header-section position-relative">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="#">
				 <img src="assets/images/Logo-colive.png">
			</a>

			<div id="menu-center">
				<ul class="navbar-nav">
				  <li class="nav-item for-dot"><a class="nav-link mt-2" href="#about-us">What is colive?</a></li>
				  <li class="nav-item for-dot"><a class="nav-link mt-2" href="#property">Properties</a></li>
				  <li class="nav-item for-dot"><a class="nav-link mt-2" href="#host">Become a Host</a></li>
				  <li class="nav-item for-dot"><a class="nav-link mt-2" href="#team">Make a team</a></li>
				  <li class="nav-item for-dot"><a class="nav-link mt-2" href="#testimonial">Testimonial</a></li>

				  <!-- <li class="nav-item pr-2 pl-2"><a class="btn signin" href="login.html">Log in</a></li>
				  <li class="nav-item pr-2 pl-2"><a class="btn signup" href="sign-up.html">Sign Up</a></li> -->
				</ul>
			</div>
			
			<div class="top-nav">
				<div class="country-flag">
					<div class="dropdown">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<img src="assets/images/english.png" /> EN
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#"><img src="assets/images/english.png" /> EN</a>
							<a class="dropdown-item" href="#"><img src="assets/images/fr.png" /> FR</a>
							<a class="dropdown-item" href="#"><img src="assets/images/italian.png" /> IT</a>
							<a class="dropdown-item" href="#"><img src="assets/images/spanish.png" /> SP</a>
							<a class="dropdown-item" href="#"><img src="assets/images/german.png" /> GR</a>
						</div>
					</div>
				</div>
				
				<ul class="navbar-nav">
					<li class="nav-item pr-2 pl-2" *ngIf="this.session_key == true"><a class="btn signin" routerLink="/dashboard">Dashboard</a></li>
					<li class="nav-item pr-2 pl-2" *ngIf="this.session_key != true"><a class="btn signin" routerLink="/login">Log in</a></li>
					<li class="nav-item pr-2 pl-2"><a class="btn signup" href="javascript:void();" id="download-app">Download the App</a></li>
				</ul>
			</div>
		</nav>
	  </div>
	  
	<div class="banner-section">
		<!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
			<source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
		</video> -->
		
		<!-- <iframe src="https://www.youtube.com/embed/7hiJt0RztGA?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allow="autoplay; encrypted-media"></iframe> -->
		
		<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/7hiJt0RztGA?rel=0;&autoplay=1&mute=1&loop=1" frameborder="0" allowfullscreen include></iframe> -->
		
		<iframe width="560" height="315" src="https://www.youtube.com/embed/7hiJt0RztGA?rel=0;&autoplay=1&mute=1&loop=1&showinfo=0" frameborder="0" allowfullscreen include></iframe>
		
	      <div class="container">
		      <div class="row">
			      <div class="col-12">
				      <div class="banner-data">
							<h1 class="hdg wow fadeInUp" data-wow-duration="0.4s">WELCOME TO colive</h1>
							<h3 class="hdg2 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.2s">THE NEXT GENERATION OF ADVANCED SOLUTIONS to</h3>
							<div class="output wow fadeInUp" data-wow-duration="0.8s" data-wow-delay=".4s" id="output">
								<h1 class="cursor"></h1>
								<p></p>
							</div>
							<div class="banner-btns wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
								<button type="button" class="btn btn-orange">Tenant</button>
								<button type="button" class="btn btn-orange">Sign in as host</button>
							</div>
							
							<div class="follow-us wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
								<ul class="social-list">
									<li>
										<a href="" class="social-icon">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									
									<li>
										<a href="" class="social-icon">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									
									<li>
										<a href="" class="social-icon">
											<i class="fab fa-linkedin-in"></i>
										</a>
									</li>
									
									<li>
										<a href="" class="social-icon">
											<i class="fab fa-pinterest"></i>
										</a>
									</li>
									
									<li>
										<a href="" class="social-icon">
											<i class="fab fa-instagram"></i>
										</a>
									</li>
								</ul>
							</div>
					  </div>
				  </div>
				  
			  </div>
		  </div>
	  </div>
	  
		
		<div class="about-us" id="about-us">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
							<h1 class="hdg-main">About Us</h1>
							<p class="sb-hdg">Lorem Ipsum is simply dummy text of the printing</p>
						</div>
					</div>
				</div>
				
			    <div class="row">
				    <div class="col-12 col-sm-6 parts-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
						<div class="parts-inner">
							<div class="side1">
								<p class="des1">Make life for happy living</p>
								<p class="des2">Ad non vivamus Elementum eget fringilla venenatis quisque, maecenas adipiscing aliquet justo. Libero. Gravida. Sapien, dolor nostra sem. Rutrum conubia inceptos egestas dolor class.</p>
							</div>
							
							<div class="side2">
								<!-- <?xml version="1.0" encoding="iso-8859-1"?> -->
								<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
								<g>
									<g>
										<path d="M506.555,208.064L263.859,30.367c-4.68-3.426-11.038-3.426-15.716,0L5.445,208.064
											c-5.928,4.341-7.216,12.665-2.875,18.593s12.666,7.214,18.593,2.875L256,57.588l234.837,171.943c2.368,1.735,5.12,2.57,7.848,2.57
											c4.096,0,8.138-1.885,10.744-5.445C513.771,220.729,512.483,212.405,506.555,208.064z"/>
									</g>
								</g>
								<g>
									<g>
										<path d="M442.246,232.543c-7.346,0-13.303,5.956-13.303,13.303v211.749H322.521V342.009c0-36.68-29.842-66.52-66.52-66.52
											s-66.52,29.842-66.52,66.52v115.587H83.058V245.847c0-7.347-5.957-13.303-13.303-13.303s-13.303,5.956-13.303,13.303v225.053
											c0,7.347,5.957,13.303,13.303,13.303h133.029c6.996,0,12.721-5.405,13.251-12.267c0.032-0.311,0.052-0.651,0.052-1.036v-128.89
											c0-22.009,17.905-39.914,39.914-39.914s39.914,17.906,39.914,39.914v128.89c0,0.383,0.02,0.717,0.052,1.024
											c0.524,6.867,6.251,12.279,13.251,12.279h133.029c7.347,0,13.303-5.956,13.303-13.303V245.847
											C455.549,238.499,449.593,232.543,442.246,232.543z"/>
									</g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								<g>
								</g>
								</svg>
							</div>
						</div>
					</div>
					
					<div class="col-12 col-sm-6 parts-right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
						<p class="des-right">Lorem Ipsum is simply dummy is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy is simply dummy text of the printing and typesetting industry.</p>
					</div>
					
				</div>
			</div>
		</div>
		
		
	  
	  	<div class="buy-sell" id="property">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
							<h1 class="hdg-main">properties</h1>
							<p class="sb-hdg">Owners are waiting for you</p>
						</div>
					</div>
				</div>
				
			    <div class="row">
				    <div class="col-12 col-sm-6 parts wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
						<a href="" class="parts-inner">
							<div class="top-box">
								<img class="img-fluid" src="assets/images/buy2-property.jpeg" />
							</div>
							<div class="over-box">
								<i class="fas fa-home"></i>
								<p>sell my property</p>
							</div>
						</a>
					</div>
					
					<div class="col-12 col-sm-6 parts wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
						<a href="" class="parts-inner">
							<div class="top-box">
								<img class="img-fluid" src="assets/images/buy-property.jpeg" />
							</div>
							<div class="over-box">
								<i class="fas fa-home"></i>
								<p>properties to buy</p>
							</div>
						</a>
					</div>
					
				</div>
			</div>
		</div>
		 
		 <div class="coliving-work-section">
			<div class="coliving-inner">
				<div class="container">
				   <div class="row">
					   <div class="col-12">
						   <div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
								<h1 class="hdg-main">colive is a unique way to live and work</h1>
								<p class="sb-hdg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
					</div>
				   
				   <div class="row">
					   <div class="col-12 col-md-6 col-lg-4 mb-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
						  <div class="bg-white p-3 pl-4 rounded box-shadow">
							  <div class="coliving-icon p-4 rounded">
								 <span class="top-icon">
									<img src="https://colive.imgix.net/icons/dollar-alt.svg">
								 </span>
								 <div class="coliving-text">
									<h4>No Booking or Credit Card Fees</h4>
									<p>We don't add additional fees. No Booking or Credit Card Fees</p>
								 </div>
							  </div>
						  </div>
					   </div>
					   <div class="col-12 col-md-6 col-lg-4 mb-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
						  <div class="bg-white p-3 pl-4 rounded box-shadow">
							  <div class="coliving-icon p-4 rounded">
								 <span class="top-icon">
									<img src="https://colive.imgix.net/icons/dollar-alt.svg">
								 </span>
								 <div class="coliving-text">
									<h4>Best Price Guarantee</h4>
									<p>Guaranteed lowest price on colive.com.</p>
								 </div>
							  </div>
						  </div>
					   </div>
					   <div class="col-12 col-md-6 col-lg-4 mb-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
						  <div class="bg-white p-3 pl-4 rounded box-shadow">
							  <div class="coliving-icon p-4 rounded">
								 <span class="top-icon">
									<img src="https://colive.imgix.net/icons/dollar-alt.svg">
								 </span>
								 <div class="coliving-text">
									<h4>Payment Protection</h4>
									<p>We hold payment for 24 hours after you move in.</p>
								 </div>
							  </div>
						  </div>
					   </div>
					   <div class="col-12 col-md-6 col-lg-4 mb-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
						  <div class="bg-white p-3 pl-4 rounded box-shadow">
							  <div class="coliving-icon p-4 rounded">
								 <span class="top-icon">
									<img src="https://colive.imgix.net/icons/dollar-alt.svg">
								 </span>
								 <div class="coliving-text">
									<h4>No Booking or Credit Card Fees</h4>
									<p>We don't add additional fees.</p>
								 </div>
							  </div>
						  </div>
					   </div>
					   <div class="col-12 col-md-6 col-lg-4 mb-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
						  <div class="bg-white p-3 pl-4 rounded box-shadow">
							  <div class="coliving-icon p-4 rounded">
								 <span class="top-icon">
									<img src="https://colive.imgix.net/icons/dollar-alt.svg">
								 </span>
								 <div class="coliving-text">
									<h4>No Booking or Credit Card Fees</h4>
									<p>We don't add additional fees.</p>
								 </div>
							  </div>
						  </div>
					   </div>
					   <div class="col-12 col-md-6 col-lg-4 mb-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
						  <div class="bg-white p-3 pl-4 rounded box-shadow">
							  <div class="coliving-icon p-4 rounded">
								 <span class="top-icon">
									<img src="https://colive.imgix.net/icons/dollar-alt.svg">
								 </span>
								 <div class="coliving-text">
									<h4>No Booking or Credit Card Fees</h4>
									<p>We don't add additional fees.</p>
								 </div>
							  </div>
						  </div>
					   </div>
				   </div>
				</div>
			</div>
		 </div>
		 
		 
		<div class="top-locations" id="locations">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
							<h1 class="hdg-main">Top colive locations</h1>
							<p class="sb-hdg">Get inspiration for your next adventure in 2019</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-12">
						<ul class="location-list">
							<li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
								<div class="list-inner">
									<img class="place-img" src="assets/images/location1.jpg" />
									<div class="over-content">
										<h1 class="hdg"><a href="">SF Bay Area</a></h1>
										<p class="des">From $485/month</p>
									</div>
								</div>
							</li>
							
							<li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
								<div class="list-inner">
									<img class="place-img" src="assets/images/location2.jpg" />
									<div class="over-content">
										<h1 class="hdg"><a href="">New York</a></h1>
										<p class="des">From $485/month</p>
									</div>
								</div>
							</li>
							
							<li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
								<div class="list-inner">
									<img class="place-img" src="assets/images/location1.jpg" />
									<div class="over-content">
										<h1 class="hdg"><a href="">Los Angeles</a></h1>
										<p class="des">From $485/month</p>
									</div>
								</div>
							</li>
							
							<li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
								<div class="list-inner">
									<img class="place-img" src="assets/images/location2.jpg" />
									<div class="over-content">
										<h1 class="hdg"><a href="">Bali</a></h1>
										<p class="des">From $485/month</p>
									</div>
								</div>
							</li>
							
						</ul>
						
						<div class="show-all">
							<button type="button" class="btn btn-orange">Show all locations</button>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
		 
		<div class="articles" id="team">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
							<h1 class="hdg-main">Latest articles</h1>
							<p class="sb-hdg">Read and get inspiration</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6 col-lg-4 parts wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
						<div class="parts-inner">
							<div class="top">
								<img src="assets/images/article1.jpeg" />
								<div class="date">July 29, 2019</div>
							</div>
							
							<div class="btm">
								<h1 class="hdg">Is colive Right For You?</h1>
								<p class="des">Do you dream of another way of working? Another way of living? We may just have the answer.</p>
								<a href="" class="more">Read More</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-4 parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
						<div class="parts-inner">
							<div class="top">
								<img src="assets/images/article1.jpeg" />
								<div class="date">July 29, 2019</div>
							</div>
							
							<div class="btm">
								<h1 class="hdg">Is colive Right For You?</h1>
								<p class="des">Do you dream of another way of working? Another way of living? We may just have the answer.</p>
								<a href="" class="more">Read More</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-4 parts wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
						<div class="parts-inner">
							<div class="top">
								<img src="assets/images/article1.jpeg" />
								<div class="date">July 29, 2019</div>
							</div>
							
							<div class="btm">
								<h1 class="hdg">Is colive Right For You?</h1>
								<p class="des">Do you dream of another way of working? Another way of living? We may just have the answer.</p>
								<a href="" class="more">Read More</a>
							</div>
						</div>
					</div>
				</div>
					
				<div class="show-all">
					<button type="button" class="btn btn-orange">Show all</button>
				</div>
					
			</div>
		</div>
		 
		 
		<div class="resident" id="testimonial">
			<div class="resident-inner">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
								<h1 class="hdg-main">Happy residents</h1>
								<p class="sb-hdg">Read about their incredible colive experience</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-12">
							<div id="demo" class="carousel slide" data-ride="carousel">
								<ul class="carousel-indicators">
									<li data-target="#demo" data-slide-to="0" class="active"></li>
									<li data-target="#demo" data-slide-to="1"></li>
									<li data-target="#demo" data-slide-to="2"></li>
								</ul>

								<div class="carousel-inner">
									<div class="carousel-item active">
										<div class="main-data">
											<img class="user-image" src="assets/images/avatar.png" />
											<p class="des">Awesome place!!! Love the location, how new everything is (furniture, flooring, kitchen items, etc.), how quick Janeen and Sean are to respond to things and how much they seem to genuinely care about us loving where we live! Highly recommend!</p>
											<p class="name">Chris Z</p>
											<p class="location">Santa Monica Beach colive - Pacific & 6th</p>
											<p class="star-value">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
											</p>
										</div>
									</div>
									
									<div class="carousel-item">
										<div class="main-data">
											<img class="user-image" src="assets/images/avatar.png" />
											<p class="des">Awesome place!!! Love the location, how new everything is (furniture, flooring, kitchen items, etc.), how quick Janeen and Sean are to respond to things and how much they seem to genuinely care about us loving where we live! Highly recommend!</p>
											<p class="name">Chris Z</p>
											<p class="location">Santa Monica Beach colive - Pacific & 6th</p>
											<p class="star-value">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
											</p>
										</div>
									</div>
									
									<div class="carousel-item">
										<div class="main-data">
											<img class="user-image" src="assets/images/avatar.png" />
											<p class="des">Awesome place!!! Love the location, how new everything is (furniture, flooring, kitchen items, etc.), how quick Janeen and Sean are to respond to things and how much they seem to genuinely care about us loving where we live! Highly recommend!</p>
											<p class="name">Chris Z</p>
											<p class="location">Santa Monica Beach colive - Pacific & 6th</p>
											<p class="star-value">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
											</p>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="start-business">
			<div class="container">
				<div class="row">
					<div class="col-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
						<p class="dtl">How to start a colive business?</p>
						<p class="dtl2"><b>Call Us</b> (+123) 45-67-890</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="subscribe">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
							<h1 class="hdg-main">Enter your email for newsletter</h1>
							<p class="sb-hdg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6 news-form wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
						<form [formGroup]="subscribeForm" (ngSubmit)="subscribeForm(subscribeForm.value)">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Enter Your Email Address">
							</div>
							<i class="fas fa-paper-plane"></i>					

								 
						 </form>
					</div>
				</div>
			</div>
		</div>
		
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
						<div class="parts-inner">
							<h1 class="hdg-small">About Colive</h1>
							<div class="footer-detail">
								<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
								</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
						<div class="parts-inner">
							<h1 class="hdg-small">Support</h1>
							<div class="footer-detail">
								<ul class="footer-list">
									<li><a href="">About</a></li>
									<li><a href="">Contact</a></li>
									<li><a href="">Event</a></li>
									<li><a href="">Investments</a></li>
									<li><a href="">Job</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
						<div class="parts-inner">
							<h1 class="hdg-small">Quick Links</h1>
							<div class="footer-detail">
								<ul class="footer-list">
									<li><a href="">What is colive?</a></li>
									<li><a href="">Contact</a></li>
									<li><a href="">Event</a></li>
									<li><a href="">Investments</a></li>
									<li><a href="">Job</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-sm-6 col-md-3 footer-parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
						<div class="parts-inner">
							<h1 class="hdg-small">Contact us</h1>
							<div class="footer-detail">
								<p>Macrew Street West,<br /> National park,<br /> India <br /> +1 246-345-0695</p>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</footer>
		
		<section class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<p>Copyright 2019 . All Rights Reserved</p>					
					</div>
				</div>
			</div>
		</section>
	
	<div id="download-app-box">
		<div class="content">
			<div class="top-1">
				<h1 class="hdg">Get started with Coliving in seconds</h1>
				<p class="des">We'll send you a message with a link to download the app.</p>
			</div>
			<div class="top-2">
				<div class="top-2-inner">
					<div class="top-2-inner2">
						<div class="left-side">
							<div class="dropdown">
								<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
									+91
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">
										<div class="flag"></div>
										<div class="name">United Kingdom</div>
										<div class="code">+44</div>
									</a>
									<a class="dropdown-item" href="#">
										<div class="flag"></div>
										<div class="name">United Kingdom</div>
										<div class="code">+44</div>
									</a>
									<a class="dropdown-item" href="#">
										<div class="flag"></div>
										<div class="name">United Kingdom</div>
										<div class="code">+44</div>
									</a>
									<a class="dropdown-item" href="#">
										<div class="flag"></div>
										<div class="name">United Kingdom</div>
										<div class="code">+44</div>
									</a>
									<a class="dropdown-item" href="#">
										<div class="flag"></div>
										<div class="name">United Kingdom</div>
										<div class="code">+44</div>
									</a>
								</div>
							</div>
						</div>
						<div class="right-side">
							<input type="email" class="form-control" placeholder="Phone Number">
						</div>
					</div>
				</div>
			</div>
			<div class="top-3">
				<button type="button" class="btn btn-orange">Continue</button>
			</div>
		</div>
		
		<div class="icon-close">
			<i class="far fa-times-circle"></i>
		</div>
		
	</div>
   
   
   
  