<app-front-header></app-front-header>
<div class="about-us" id="about-us">
	<div class="container">
	   <div class="row">
		  <div class="col-12">
			 <div class="welcome-headd hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
				<h1 class="hdg-main">{{infoData?.title}}<br>
				   <span class="text-center">{{infoData?.subtitle}}</span>
				</h1>
				<p class="sb-hdg" style="font-size: 17px;" [innerHTML]="infoData?.content| safeHtml"></p>
			 </div>
		  </div>
	   </div>
	   <div class="row">
		  <div class="col-md-6">
			 <div class="problam-uper-face">
				<div class="facing-problam-content">
				   <p style="font-size: 19px;" [innerHTML]="section2?.content| safeHtml"></p>
				</div>
			 </div>
		  </div>
		  <div class="col-md-6">
			 <div class="facing-problam-image new-one">
				<img class="" [src]=section2?.images[0].imageurl>
			 </div>
		  </div>
	   </div>
	   <div class="row">
		  <div class="col-12">
			 <div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
				<h1 class="cloving-heading">{{section3?.title}}</h1>
				<p class="text-cloving" [innerHTML]="section3?.content| safeHtml"></p>
			 </div>
		  </div>
	   </div>
	</div>
 </div>
 <div class="full-banner-iphone">
	<section class="iphoen-text-banner-main first-box">
	   <div class="container">
		  <div class="row">
			 <div class="col-md-7 parts-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
				<div class="helping-finednew-box">
				   <h3>{{section4?.title}}</h3>
				   <p [innerHTML]="section4?.content| safeHtml"> </p>
				</div>
			 </div>
			 <div class="col-md-5 parts-right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
				<div class="only-iphon-image">
				   <img [src]=section4?.images[0].imageurl>
				</div>
			 </div>
		  </div>
	   </div>
	</section>
	<section class="iphoen-text-banner-main second-box">
	   <div class="container">
		  <div class="row">
			 <div class="col-md-7 parts-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
				<div class="helping-finednew-box">
				   <h3>{{section5?.title}}</h3>
				   <p [innerHTML]="section5?.content| safeHtml"></p>
				</div>
			 </div>
			 <div class="col-md-5 parts-right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
				<div class="only-iphon-image">
				   <img [src]=section5?.images[0].imageurl>
				</div>
			 </div>
		  </div>
	   </div>
	</section>
	<section class="iphoen-text-banner-main thired-box">
	   <div class="container">
		  <div class="row">
			 <div class="col-md-7 parts-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
				<div class="helping-finednew-box">
				   <h3>{{section6?.title}}</h3>
				   <p [innerHTML]="section6?.content| safeHtml"></p>
				</div>
			 </div>
			 <div class="col-md-5 parts-right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
				<div class="only-iphon-image">
				   <img [src]=section6?.images[0].imageurl>
				</div>
			 </div>
		  </div>
	   </div>
	</section>
	<section class="iphoen-text-banner-main four-box">
	   <div class="container">
		  <div class="row">
			 <div class="col-md-7 parts-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
				<div class="helping-finednew-box">
				   <h3>{{section7?.title}} </h3>
				   <p [innerHTML]="section7?.content| safeHtml"></p>
				</div>
			 </div>
			 <div class="col-md-5 parts-right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
				<div class="only-iphon-image">
				   <img [src]=section7?.images[0].imageurl>
				</div>
			 </div>
		  </div>
	   </div>
	</section>
 </div>
 <div class="buy-sell" id="property">
	<div class="container">
	   <div class="row">
		  <div class="col-12">
			 <div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
				<h1 class="hdg-main">{{section8?.title}}</h1>
				<p class="sb-hdg" [innerHTML]="section8?.content| safeHtml"></p>
			
			 </div>
		  </div>
	   </div>
	   <div class="row">
		  <div class="col-12 col-sm-6 parts wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
			 <a href="" class="parts-inner">
				<div class="top-box">
				   <img class="img-fluid" [src]=section8?.images[0].imageurl />
				</div>
				<div class="over-box">
				</div>
			 </a>
		  </div>
		  <div class="col-12 col-sm-6 parts wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
			 <a href="" class="parts-inner">
				<div class="top-box">
				   <img class="img-fluid" [src]=section8?.images[1].imageurl />
				</div>
				<div class="over-box">
				</div>
			 </a>
		  </div>
	   </div>
	</div>
 </div>
 <div class="top-locations" id="locations">
	<div class="container">
	   <div class="row">
		  <div class="col-12">
			 <div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
				<h1 class="hdg-main">Top colive locations</h1>
				<p class="sb-hdg">Get inspiration for your next adventure in 2019</p>
			 </div>
		  </div>
	   </div>
	   <div class="row">
		  <div class="col-12">
			 <ul class="location-list">
				<li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
				   <div class="list-inner">
					  <img class="place-img" src="assets/images/location1.jpg" />
					  <div class="over-content">
						 <h1 class="hdg"><a href="">SF Bay Area</a></h1>
						 <p class="des">From $485/month</p>
					  </div>
				   </div>
				</li>
				<li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
				   <div class="list-inner">
					  <img class="place-img" src="assets/images/location2.jpg" />
					  <div class="over-content">
						 <h1 class="hdg"><a href="">New York</a></h1>
						 <p class="des">From $485/month</p>
					  </div>
				   </div>
				</li>
				<li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
				   <div class="list-inner">
					  <img class="place-img" src="assets/images/location1.jpg" />
					  <div class="over-content">
						 <h1 class="hdg"><a href="">Los Angeles</a></h1>
						 <p class="des">From $485/month</p>
					  </div>
				   </div>
				</li>
				<li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
				   <div class="list-inner">
					  <img class="place-img" src="assets/images/location2.jpg" />
					  <div class="over-content">
						 <h1 class="hdg"><a href="">Bali</a></h1>
						 <p class="des">From $485/month</p>
					  </div>
				   </div>
				</li>
			 </ul>
			 <div class="show-all">
				<button type="button" class="btn btn-orange">Show all locations</button>
			 </div>
		  </div>
	   </div>
	</div>
 </div>
 <div class="articles" id="team">
	<div class="container">
	   <div class="row">
		  <div class="col-12">
			 <div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
				<h1 class="hdg-main">Latest articles</h1>
				<p class="sb-hdg">Read and get inspiration</p>
			 </div>
		  </div>
	   </div>
	   <div class="row">
		  <div class="col-md-6 col-lg-4 parts wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
			 <div class="parts-inner">
				<div class="top">
				   <img src="assets/images/article1.jpeg" />
				   <div class="date">July 29, 2019</div>
				</div>
				<div class="btm">
				   <h1 class="hdg">Is colive Right For You?</h1>
				   <p class="des">Do you dream of another way of working? Another way of living? We may just have the answer.</p>
				   <a href="" class="more">Read More</a>
				</div>
			 </div>
		  </div>
		  <div class="col-md-6 col-lg-4 parts wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
			 <div class="parts-inner">
				<div class="top">
				   <img src="assets/images/article1.jpeg" />
				   <div class="date">July 29, 2019</div>
				</div>
				<div class="btm">
				   <h1 class="hdg">Is colive Right For You?</h1>
				   <p class="des">Do you dream of another way of working? Another way of living? We may just have the answer.</p>
				   <a href="" class="more">Read More</a>
				</div>
			 </div>
		  </div>
		  <div class="col-md-6 col-lg-4 parts wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
			 <div class="parts-inner">
				<div class="top">
				   <img src="assets/images/article1.jpeg" />
				   <div class="date">July 29, 2019</div>
				</div>
				<div class="btm">
				   <h1 class="hdg">Is colive Right For You?</h1>
				   <p class="des">Do you dream of another way of working? Another way of living? We may just have the answer.</p>
				   <a href="" class="more">Read More</a>
				</div>
			 </div>
		  </div>
	   </div>
	   <div class="show-all">
		  <button type="button" class="btn btn-orange">Show all</button>
	   </div>
	</div>
 </div>
 <div class="resident" id="testimonial">
	<div class="resident-inner">
	   <div class="container">
		  <div class="row">
			 <div class="col-12">
				<div class="hdg-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
				   <h1 class="hdg-main">Happy residents</h1>
				   <p class="sb-hdg">Read about their incredible colive experience</p>
				</div>
			 </div>
		  </div>
		  <div class="row">
			 <div class="col-12">
				<div id="demo" class="carousel slide" data-ride="carousel">
				   <ul class="carousel-indicators">
					  <li data-target="#demo" data-slide-to="0" class="active"></li>
					  <li data-target="#demo" data-slide-to="1"></li>
					  <li data-target="#demo" data-slide-to="2"></li>
				   </ul>
				   <div class="carousel-inner">
					  <div class="carousel-item active">
						 <div class="main-data">
							<img class="user-image" src="assets/images/avatar.png" />
							<p class="des">Awesome place!!! Love the location, how new everything is (furniture, flooring, kitchen items, etc.), how quick Janeen and Sean are to respond to things and how much they seem to genuinely care about us loving where we live! Highly recommend!</p>
							<p class="name">Chris Z</p>
							<p class="location">Santa Monica Beach colive - Pacific & 6th</p>
							<p class="star-value">
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							</p>
						 </div>
					  </div>
					  <div class="carousel-item">
						 <div class="main-data">
							<img class="user-image" src="assets/images/avatar.png" />
							<p class="des">Awesome place!!! Love the location, how new everything is (furniture, flooring, kitchen items, etc.), how quick Janeen and Sean are to respond to things and how much they seem to genuinely care about us loving where we live! Highly recommend!</p>
							<p class="name">Chris Z</p>
							<p class="location">Santa Monica Beach colive - Pacific & 6th</p>
							<p class="star-value">
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							</p>
						 </div>
					  </div>
					  <div class="carousel-item">
						 <div class="main-data">
							<img class="user-image" src="assets/images/avatar.png" />
							<p class="des">Awesome place!!! Love the location, how new everything is (furniture, flooring, kitchen items, etc.), how quick Janeen and Sean are to respond to things and how much they seem to genuinely care about us loving where we live! Highly recommend!</p>
							<p class="name">Chris Z</p>
							<p class="location">Santa Monica Beach colive - Pacific & 6th</p>
							<p class="star-value">
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							   <i class="fas fa-star"></i>
							</p>
						 </div>
					  </div>
				   </div>
				</div>
			</div>
		 </div> 
		</div>
		</div>
		</div>
		

		
<app-front-footer></app-front-footer>






