	<section class="login-block">
		<div class="block-inner">
			<div class="container">
				<div class="row">
					<div class="col-md-9 m-auto">
						<div class="row">
							<div class="col-md-12 col-lg-5 left-side">
								<div class="left-inner">
									<a class="for-login-logo" routerLink="/">
										<img src="assets/images/Logo-colive.png" />
									</a>
									<p class="des">Login using social media to get quick access</p>									
									<div class="row social-buttons">
										<div class="col-4 col-md-12">
											<a class="btn btn-social btn-facebook" (click)="signInWithFb()">
												<i class="fab fa-facebook-f"></i> <span class="hide-small">Signin with facebook</span>
											</a>
										</div>
									
										<div class="col-4 col-md-12">
											<a class="btn btn-social btn-google"  (click)="signInWithGoogle()">
												<i class="fab fa-google-plus-g"></i> <span class="hide-small">Signin with google</span>
											</a>
										</div>
									</div>
									
								</div>
							</div>
							<div class="col-md-12 col-lg-7 right-side">
								<ul class="for-login-tabs">
									<li>
										<a class="" routerLink="/login">ALREADY A MEMBER</a>
									</li>
									<li>
										<a class="active" routerLink="/sign-up">LANDLORD REGISTRATION</a>
									</li>
								</ul>

								<div class="form-content">

									<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
										
										<div class="form-group form-parts">
											<input type="text" class="form-control" placeholder="Username" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
											
											<div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
												<span class="for-sub-name" *ngIf="f.userName.errors.required">Username is required.</span>
											</div>
										</div>
										<div class="form-group form-parts">
											<input type="email" class="form-control" placeholder="Email Address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="off">

											<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
												<span class="for-sub-name" *ngIf="f.email.errors.required">Email is required.</span>
												<span class="for-sub-name" *ngIf="f.email.errors.email">Email must be a valid</span>
											</div>
											<div *ngIf="isError == true" >
												<span class="for-sub-name">{{errorsArr?.email}}</span>
											</div>

										</div>
										<div class="form-group form-parts">
											<input type="password"  placeholder="Password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" appBlockCopyPaste placement="right" ngbTooltip="Direct Copy paste not allowed." autocomplete="off">
											
											<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
												<span class="for-sub-name" *ngIf="f.password.errors.required"> Password is required.</span>
											</div> 
											<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
												<span class="for-sub-name" *ngIf="f.password.errors.minlength">Your password must be at least 8 characters.</span>
											</div>
											
										</div>
										
										<div class="form-group form-parts">
											<input type="password"  placeholder="Confirm Password" class="form-control" formControlName="confPassword" [ngClass]="{ 'is-invalid': submitted && f.confPassword.errors }" placement="right" ngbTooltip="Direct Copy paste not allowed." appBlockCopyPaste autocomplete="off">

											<div *ngIf="submitted && f.confPassword.errors" class="invalid-feedback">
												<span class="for-sub-name" *ngIf="f.confPassword.errors.required">Confirm password is required.</span>
												<div *ngIf="f.confPassword.errors.ConfirmPassword">
													Confirm password must be same as password
												 </div>
											</div> 

											<div *ngIf="submitted && f.confPassword.errors" class="invalid-feedback">
												<span class="for-sub-name" *ngIf="f.confPassword.errors.minlength">Your password must be at least 8 characters.</span>
											</div> 
											<div *ngIf="isError == true" >
												<span class="for-sub-name">{{errorsArr?.password2}}</span>
											</div>
											
										</div>
										<div class="form-group">
											<div class="form-check">
												<label class="form-check-label agree">
													<input class="form-check-input" type="checkbox" formControlName="agree" [ngClass]="{ 'is-invalid': submitted && f.agree.errors }" required [checked]="false"> By using our site, you acknowledge that you have read and understand our <a class="" href="https://www.freeprivacypolicy.com/privacy/view/7a10aabac9e57a1b138755a444037066">Privacy Policy, Terms & condtions, GDPR</a>
													<div *ngIf="submitted && f.agree.errors" class="invalid-feedback">
														<span class="for-sub-name" id="cust" *ngIf="submitted && f.agree.errors.required || f.agree == undefined" class="for-sub-name"> This field is required.</span>
													</div>
													

											</label>

										</div>
									</div>
									<button type="submit" class="btn btn-orange">Sign Up</button>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>